---
import { Image } from 'astro:assets';

const { image, ...args } = Astro.props

---

<style>

	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		transform: translateY(calc(-1 * $header_height));
	}
</style>

<section {...args}>
	<Image src={image} loading={'eager'} alt="" />
	<slot />
</section>