---
import Chrome from '@img/browsers/chrome.svg'
import Firefox from '@img/browsers/firefox.svg'
import Edge from '@img/browsers/edge.svg'
import IE from '@img/browsers/ie.svg'
import Safari from '@img/browsers/safari.svg'

type Browser = 'chrome' | 'edge' | 'firefox' | 'ie' | 'safari'

interface Props {
	browsers: Record<Browser, string>
}

const BrowserIcons: Record<Browser, ImageMetadata> = {
	chrome: Chrome,
	edge: Edge,
	firefox: Firefox,
	ie: IE,
	safari: Safari
}

const { browsers, ...args } = Astro.props
---

<style define:vars={{cols: Object.entries(browsers).length}}>
	dl {
		display: grid;
		grid-template-columns: repeat(var(--cols), 1fr);
		grid-template-rows: auto auto;
		text-align: center;
		grid-column-gap: 20px;
		max-width: 90%;
		margin: 0 auto;

		& img {
			width: 100%;
			height: auto;
		}
	}

	dt {
		grid-row-start: 1;
	}

	dd {
		grid-row-start: 2;
	}
</style>

<section {...args}>
	<dl>
		{Object.entries(browsers).map(([name, values]) => (
			<dt><img src={BrowserIcons[name]?.src} /></dt>
			<dd>{values}</dd>
		))}
	</dl>
</section>