---
import Background from "@parts/background";

const { ...args } = Astro.props
---

<style>
	@import '@mixins';

	section {
		@include code;
		color: $white;
	}
</style>

<Background theme="dark" />
<section {...args}>
	<slot />
</section>