---
import Background from "@parts/background";

const { lines, ...args } = Astro.props

let slot = await Astro.slots.render('default')

if(lines) {
	slot = slot.replace(/<code/, `<code data-line-numbers="${lines.join('|')}"`)
}
---

<style>
	@import '@mixins';

	section {
		@include code;
		color: $white; 

		&:global(.present[data-fragment] pre code.hljs) {
			position: static;

			&:global(:first-child:has(~ code.visible)),
			&:global(:not(:first-child):not(.current-fragment)) {
				display: none;
			}
		}
	}
</style>

<Background theme="dark" />
<!-- <section {...args}>
	<slot />
</section> -->
<section {...args} set:html={slot} />