---

---

<style>
	section {
		grid-template-rows: 1fr 10vh;
		justify-content: center;
		justify-items: center;
		height: calc(100vh - var(--footer) - var(--header));
		margin-top: 3vh;
		position: relative;

		& blockquote {
			font-size: 0.8em;
			margin: 0;
		}

		& cite {
			color: $grey;
			font-size: 1em;
			padding: 1vh 10px 0 0;
			padding-top: 1vh;
			font-size: 0.3em;
			text-align: center;
		}
	}
</style>

<section>
	<slot />
</section>