---
const { ...args } = Astro.props
---

<style>
	section {
		grid-template-rows: 1fr 10vh;
		justify-content: center;
		justify-items: center;
		height: calc(100vh - var(--footer) - var(--header));
		margin-top: 3vh;
		position: relative;

		& :global(blockquote) {
			font-size: 1em;
			margin: 0;
			padding: 0 2vw;
			font-family: $font_headings;
			text-align: left;
		}

		& :global(cite) {
			opacity: 0.9;
			font-size: 1em;
			padding: 1vh 10px 0 0;
			padding-top: 1vh;
			display: block;
			text-align: right;
			font-family: $font_main;

			& :global(small) {
				font-size: 0.5em;
			}
		}
	}
</style>

<section {...args}>
	<slot />
</section>