---
const { styles, ...args } = Astro.props
---

<style>
	section {
		&[data-style="sections"] {
			font-family: $font_heading;
			text-align: left;

			& :global(ul), & :global(ol) {
				counter-reset: parts;
				list-style-type: none;

				& :global(li) {
					counter-increment: parts;
					margin-bottom: 0.5em;

					&::before {
						content: 'Part ' counter(parts) ':';
						margin-right: 1ch;
					}
				}
			}
		}

		&[data-style="list"] {
			text-align: left;

			& :global(li) {
				margin-bottom: 0.5em;
			}
		}

		&[data-style="aoc"] {
			font-size: 1.5em;
			line-height: 1.5;
			font-weight: 700;

			& :global(mark) {
				background: none;
				color: $blue;
			}
		}

		&[data-style="title"] {
			font-family: $font_headings;
			font-size: 1.9em;
			align-content: center;

			& :global(h1) {
				font-size: 1em;
				margin-bottom: 0.05em;
			}

			& :global(small) {
				font-size: 0.5em;
				font-style: normal;
			}
		}

		&[data-style="section"] {
			font-family: $font_headings;
			align-content: center;

			& :global(header) {
				&:empty {
					opacity: 1;
					background: var(--background_colour);
				}
			}
		}
	}
</style>

<section {...args} data-style={styles}>
	<slot />
</section>