.custom-1 section#slide-6 {
  grid-template-columns: 3fr 2fr;
  font-size: 80px;
  padding: 4vw;
  grid-gap: 2vw; }
  .custom-1 section#slide-6 > pre {
    padding: 0; }

.custom-1 section#slide-7 {
  font-size: 60px; }
  .custom-1 section#slide-7 div {
    font-size: 0.6em; }

.custom-1 section#slide-8 {
  font-size: 50px; }
  .custom-1 section#slide-8 table {
    font-size: 0.9em; }

.custom-1 section#slide-10 {
  font-size: 60px; }

.custom-1 section#slide-9 {
  font-size: 80px; }

.custom-1 section#slide-15 {
  font-size: 55px; }
  .custom-1 section#slide-15 svg {
    height: 1em;
    width: 1em; }
  .custom-1 section#slide-15 table {
    align-self: start;
    max-width: 100%; }
    .custom-1 section#slide-15 table td,
    .custom-1 section#slide-15 table th {
      height: 1em;
      text-align: center;
      vertical-align: center; }
      .custom-1 section#slide-15 table td.good,
      .custom-1 section#slide-15 table th.good {
        background: #71d671; }
      .custom-1 section#slide-15 table td.average,
      .custom-1 section#slide-15 table th.average {
        background: #e69b5d; }
      .custom-1 section#slide-15 table td.poor,
      .custom-1 section#slide-15 table th.poor {
        background: #f14c4c; }

.custom-1 section#slide-12 {
  font-size: 70px; }

.custom-1 section#slide-13 {
  font-size: 60px; }
  .custom-1 section#slide-13 div {
    font-size: 0.7em; }
    .custom-1 section#slide-13 div p {
      line-height: 1.3; }
    .custom-1 section#slide-13 div cite {
      font-size: 0.8em; }

.custom-1 section#slide-14 {
  font-size: 60px; }
  .custom-1 section#slide-14 div {
    font-size: 0.7em; }
    .custom-1 section#slide-14 div blockquote {
      font-size: 1.2em;
      margin: 0.5em 10px; }
    .custom-1 section#slide-14 div cite {
      font-size: 0.8em; }

.custom-2 {
  font-size: 10vh; }
  .custom-2 section ul {
    font-size: 0.7em;
    margin-left: 7vw; }
    .custom-2 section ul li {
      margin: 0.7em 0; }
  .custom-2 section .fragment.fade-in-then-semi-out.visible {
    opacity: 0.3; }
    .custom-2 section .fragment.fade-in-then-semi-out.visible.current-fragment {
      opacity: 1; }

.custom-3 section.list {
  justify-items: stretch; }

.custom-3 section ul {
  font-size: 0.7em;
  margin-left: 2em;
  width: auto; }

.custom-4 section .tagcloud {
  font-size: 0.44em; }
  .custom-4 section .tagcloud span:nth-child(1) {
    font-size: 100%; }
  .custom-4 section .tagcloud span:nth-child(2) {
    font-size: 110%; }
  .custom-4 section .tagcloud span:nth-child(3) {
    font-size: 120%; }
  .custom-4 section .tagcloud span:nth-child(4) {
    font-size: 130%; }
  .custom-4 section .tagcloud span:nth-child(5) {
    font-size: 140%; }
  .custom-4 section .tagcloud span:nth-child(6) {
    font-size: 150%; }
  .custom-4 section .tagcloud span:nth-child(7) {
    font-size: 160%; }
  .custom-4 section .tagcloud span:nth-child(8) {
    font-size: 170%; }
  .custom-4 section .tagcloud span:nth-child(9) {
    font-size: 180%; }
  .custom-4 section .tagcloud span:nth-child(10) {
    font-size: 190%; }
  .custom-4 section .tagcloud span:nth-child(11) {
    font-size: 200%; }
  .custom-4 section .tagcloud span:nth-child(12) {
    font-size: 210%; }
  .custom-4 section .tagcloud span:nth-child(13) {
    font-size: 220%; }
  .custom-4 section .tagcloud span:nth-child(14) {
    font-size: 230%; }
  .custom-4 section .tagcloud span:nth-child(15) {
    font-size: 240%; }

.custom-5 .title small {
  font-size: 0.7em; }

.custom-5 section {
  justify-items: stretch; }
  .custom-5 section.white {
    background: #fff; }
  .custom-5 section.small {
    font-size: 3vh; }
    .custom-5 section.small pre {
      font-size: 0.8em;
      padding: 1vw 3vw; }
    .custom-5 section.small > div {
      padding: 5vw 2vw; }
    .custom-5 section.small.very {
      font-size: 2vh; }
  .custom-5 section.smallish {
    font-size: 6vh; }
    .custom-5 section.smallish.code {
      font-size: 9vh; }
  .custom-5 section > * {
    max-height: 95vh;
    overflow: hidden; }
  .custom-5 section > ul {
    margin-left: 3vw; }
  .custom-5 section.split.horizontal .image-container {
    padding: 1vh 5vw; }
    .custom-5 section.split.horizontal .image-container img {
      border: 3px solid #191919;
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto; }
  .custom-5 section > img {
    width: 95vw;
    display: block;
    margin: 0 auto; }
  .custom-5 section.code pre {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center; }

.custom-5 .body {
  font-size: 16px;
  font-family: 'Times New Roman', serif;
  text-align: left;
  padding: 20px; }
  .custom-5 .body * {
    font-family: 'Times New Roman', serif; }
  .custom-5 .body h1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    -webkit-margin-before: 0.67em;
            margin-block-start: 0.67em;
    -webkit-margin-after: 0.67em;
            margin-block-end: 0.67em;
    text-align: left; }
  .custom-5 .body a {
    color: #0000ee;
    text-decoration: underline; }
  .custom-5 .body dd {
    font-style: normal;
    font-size: 1em; }

.custom-5 iframe {
  border: 0; }
  .custom-5 iframe.background {
    height: 100vh;
    max-height: unset;
    width: 100vw; }

.custom-5 table td {
  border: none; }

.custom-5 .table-example div {
  text-align: left; }
  .custom-5 .table-example div * {
    box-sizing: content-box; }
  .custom-5 .table-example div .header {
    background: #1c75bc;
    box-sizing: border-box;
    height: 100px;
    padding: 30px; }
    .custom-5 .table-example div .header h1 {
      margin-top: 10px; }
  .custom-5 .table-example div nav {
    background: #8ebade;
    clear: both;
    height: 40px;
    padding: 15px 20px 10px; }
  .custom-5 .table-example div .main {
    background: #8bd3d8;
    clear: both;
    overflow: hidden; }
  .custom-5 .table-example div .aside {
    float: left;
    height: 100%;
    padding: 20px;
    width: calc(25% - 40px); }
    .custom-5 .table-example div .aside nav {
      background: #8bd3d8;
      height: 100%;
      padding: 0; }
  .custom-5 .table-example div .article {
    background: #e8f6f7;
    float: left;
    padding: 20px;
    width: calc(55% - 40px); }
  .custom-5 .table-example div .footer {
    background: #16a6b1;
    clear: both;
    height: 40px;
    padding: 10px;
    text-align: center; }

.custom-5 .table-example.flexy div .header {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  height: 100px;
  padding: 10px;
  -webkit-box-pack: center;
          justify-content: center; }

.custom-5 .table-example.flexy div nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  height: 40px;
  padding: 10px; }

.custom-5 .table-example.flexy div .main {
  display: -webkit-box;
  display: flex; }

.custom-5 .table-example.flexy div .aside {
  height: 100%;
  padding: 10px;
  width: 20%; }
  .custom-5 .table-example.flexy div .aside nav {
    background: inherit;
    flex-wrap: wrap; }

.custom-5 .table-example.flexy div .article {
  padding: 10px;
  width: 55%; }

.custom-5 .table-example.flexy div .footer {
  height: 40px;
  padding: 10px;
  text-align: center; }

.custom-5 .table-example.griddy > div {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-content: center; }
  .custom-5 .table-example.griddy > div:after {
    background: #8bd3d8;
    content: '';
    grid-column: -2;
    grid-row: 3; }

.custom-5 .table-example.griddy .header {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  grid-column: 1 / -1;
  height: 100px;
  padding: 10px; }
  .custom-5 .table-example.griddy .header h1 {
    margin: 0; }

.custom-5 .table-example.griddy nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  grid-column: 1 / -1;
  height: 40px;
  padding: 10px; }

.custom-5 .table-example.griddy .aside {
  box-sizing: border-box;
  padding: 10px;
  background: #8bd3d8;
  float: none;
  width: auto; }
  .custom-5 .table-example.griddy .aside nav {
    background: inherit;
    flex-wrap: wrap;
    height: auto; }

.custom-5 .table-example.griddy .main {
  background: #e8f6f7;
  grid-column: span 3;
  padding: 10px; }
  .custom-5 .table-example.griddy .main .article {
    float: none;
    width: auto;
    padding: 0; }
    .custom-5 .table-example.griddy .main .article h1 {
      margin: 0; }

.custom-5 .table-example.griddy .footer {
  grid-column: 1 / -1;
  height: 40px;
  padding: 10px;
  text-align: center; }

.custom-5 .table-grid {
  font-size: 0.8em;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 1.5em 1.5em;
  grid-auto-columns: 1fr; }
  .custom-5 .table-grid img {
    width: 1em; }
  .custom-5 .table-grid.diff {
    grid-auto-columns: auto;
    font-size: 0.5em; }

.custom-6 section > img.background {
  width: 100vw; }

.custom-6 section > img.graphic {
  padding: 50px 50px 0; }

.custom-6 section.compare {
  font-size: 0.9em; }
  .custom-6 section.compare.small {
    font-size: 3vh; }

.custom-6 section p.small {
  font-size: 0.5em; }

.custom-6 .table-grid.diff {
  font-size: 0.4em; }

.custom-7 section.small pre {
  font-size: 0.7em; }

.custom-7 section.small.very pre {
  font-size: 0.9em; }

.custom-7 section .layout-example > table {
  width: 100%; }

.custom-7 section.table-example > div .header {
  height: 155px;
  padding: 20px; }
  .custom-7 section.table-example > div .header h1 {
    margin-top: revert; }

.custom-7 section.table-example > div nav,
.custom-7 section.table-example > div .footer {
  box-sizing: border-box;
  height: 78px;
  padding: 20px; }

.custom-7 section.table-example.flexy > div .header {
  height: 155px; }

.custom-7 section.table-example.flexy > div nav,
.custom-7 section.table-example.flexy > div .footer {
  height: 78px;
  padding: 20px; }

.custom-7 section.table-example.flexy > div .aside {
  float: none;
  padding: 20px;
  width: calc(25% - 40px); }
  .custom-7 section.table-example.flexy > div .aside nav {
    padding: 0; }

.custom-7 section.table-example.flexy > div .article {
  float: none;
  padding: 20px;
  width: calc(55% - 40px); }

.custom-7 section.table-example.griddy > div {
  grid-template-columns: repeat(4, 1fr); }
  .custom-7 section.table-example.griddy > div .header {
    height: 155px; }
  .custom-7 section.table-example.griddy > div nav {
    height: 78px;
    padding: 20px; }
  .custom-7 section.table-example.griddy > div .aside {
    padding: 20px; }
    .custom-7 section.table-example.griddy > div .aside nav {
      padding: 0; }
  .custom-7 section.table-example.griddy > div .main {
    grid-column: span 2;
    padding: 20px; }
  .custom-7 section.table-example.griddy > div .footer {
    height: 78px;
    padding: 20px; }

.custom-7 section.center {
  -webkit-box-pack: center;
          justify-content: center; }

.custom-7 section figure {
  display: grid;
  grid-template-rows: 1fr 10vh;
  height: 90vh;
  margin-top: 3vh;
  -webkit-box-pack: center;
          justify-content: center;
  justify-items: center; }
  .custom-7 section figure img {
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain; }
    .custom-7 section figure img.graphic {
      align-self: center;
      max-height: 90%; }

.custom-7 section figcaption {
  padding-top: 1vh;
  font-size: 0.3em;
  text-align: center; }

.custom-7 section.blank figcaption {
  color: #fff; }

.custom-7 section.medium {
  font-size: 7vh; }

.custom-7 section.smallish li {
  font-size: 0.8em; }

.custom-8 .section figure {
  display: grid;
  grid-template-rows: 1fr 10vh;
  height: 90vh;
  margin-top: 3vh;
  -webkit-box-pack: center;
          justify-content: center;
  justify-items: center; }
  .custom-8 .section figure img {
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain; }
    .custom-8 .section figure img.graphic {
      align-self: center;
      max-height: 90%; }

.custom-8 .section figcaption {
  padding-top: 1vh;
  font-size: 0.3em;
  text-align: center; }

.custom-8 .section.blank figcaption {
  color: #fff; }
