@import './styles.scss';

//Fonts
@font-face {
	font-family: 'Source Code Pro';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/SourceCodePro-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Quicksand';
	src: url('../fonts/Quicksand-VariableFont_wght.ttf') format('truetype');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 400;
	src: url('../fonts/Lato-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/Lato-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 700;
	src: url('../fonts/Lato-BoldItalic.ttf') format('truetype');
}

* {
	box-sizing: border-box;
}

//Fonts
$font_regular: 'Lato', Arial, sans-serif;
$font_headings: 'Quicksand', Arial, sans-serif;
$font_code: 'Source Sans Pro', monospace;

//Colours
$red: #da0808;
$blue: #1212d8;
$cyan: #00acbb;
$yellow: #e0e05a;

$grey_light: #d1d1d1;
$grey: #36454f;
$grey_dark: #191919;

$background: #faf8ef;

//Values
$header: 0;
$footer: 5vh;
