@import './styles.scss';

//Fonts
@font-face {
	font-family: 'Source Code Pro';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/SourceCodePro-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Quicksand';
	src: url('../fonts/Quicksand-VariableFont_wght.ttf') format('truetype');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 400;
	src: url('../fonts/Lato-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/Lato-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 700;
	src: url('../fonts/Lato-BoldItalic.ttf') format('truetype');
}

* {
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	position: relative;
	line-height: 1;

	background-color: #fff;
	color: #000;
}

.reveal {
	--transition-duration: 800ms;
	--opacity: 0;

	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	touch-action: none;

	.slides {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		pointer-events: none;

		overflow: visible;
		z-index: 1;
		text-align: center;
		perspective: 600px;
		perspective-origin: 50% 40%;

		section {
			display: none;
			position: absolute;
			width: 100%;
			pointer-events: auto;
			z-index: 10;
			transform-style: flat;
			transition: transform-origin 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985), transform 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985),
				visibility 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985), opacity 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
			transition-duration: var(--transition-duration);

			&[data-transition-speed='fast'] {
				--transition-duration: 400ms;
			}

			&[data-transition-speed='slow'] {
				--transition-duration: 1200ms;
			}

			&.present {
				display: block;
				z-index: 11;
				opacity: 1;
			}

			&:empty,
			&[data-background-interactive] {
				pointer-events: none;
			}

			&.future,
			&.past {
				opacity: 0;
				pointer-events: none;
			}

			.fragment {
				opacity: 0;
				visibility: hidden;
				transition: all 0.2s ease;

				&.visible {
					opacity: 1;
					visibility: inherit;
				}

				&.grow {
					opacity: 1;
					visibility: inherit;

					&.visible {
						transform: scale(1.3);
					}
				}

				&.shrink {
					opacity: 1;
					visibility: inherit;

					&.visible {
						transform: scale(0.7);
					}
				}

				&.zoom-in {
					transform: scale(0.1);

					&.visible {
						transform: none;
					}
				}

				&.fade-out {
					opacity: 1;
					visibility: inherit;

					&.visible {
						opacity: 0;
						visibility: hidden;
					}
				}

				&.semi-fade-out {
					opacity: 1;
					visibility: inherit;

					&.visible {
						opacity: 0.5;
						visibility: inherit;
					}
				}

				&.strike {
					opacity: 1;
					visibility: inherit;

					&.visible {
						text-decoration: line-through;
					}
				}

				&.fade-up {
					transform: translate(0, 20%);

					&.visible {
						transform: translate(0, 0);
					}
				}

				&.fade-down {
					transform: translate(0, -20%);

					&.visible {
						transform: translate(0, 0);
					}
				}

				&.fade-right {
					transform: translate(-20%, 0);

					&.visible {
						transform: translate(0, 0);
					}
				}

				&.fade-left {
					transform: translate(20%, 0);

					&.visible {
						transform: translate(0, 0);
					}
				}

				&.current-visible {
					opacity: 0;
					visibility: hidden;

					&.current-fragment {
						opacity: 1;
						visibility: inherit;
					}
				}

				&[class^='highlight-'] {
					opacity: 1;
					visibility: inherit;
				}

				&.highlight-red.visible,
				&.highlight-current-red.current-fragment {
					color: #ff2c2d;
				}

				&.highlight-green.visible,
				&.highlight-current-green.current-fragment {
					color: #17ff2e;
				}

				&.highlight-blue.visible,
				&.highlight-current-blue.current-fragment {
					color: #1b91ff;
				}
			}
		}

		> section {
			-ms-perspective: 600px;

			&.stack {
				padding-top: 0;
				padding-bottom: 0;
			}
		}
	}

	/* Fixes issue in Chrome where italic fonts did not appear when printing to PDF */
	&:after {
		content: '';
		font-style: italic;
	}

	iframe {
		z-index: 1;
	}

	/** Prevents layering issues in certain browser/transition combinations */
	a {
		position: relative;
	}

	.stretch {
		max-width: none;
		max-height: none;
	}

	pre.stretch code {
		height: 100%;
		max-height: 100%;
		box-sizing: border-box;
	}

	//Transition Speeds
	&[data-transition-speed='fast'] {
		--transition-duration: 400ms;
	}

	&[data-transition-speed='slow'] {
		--transition-duration: 1200ms;
	}

	&.center {
		.slides {
			min-height: 0 !important;

			section {
				min-height: 0 !important;
			}
		}
	}

	&.overview {
		.slides {
			section {
				pointer-events: auto;
			}
		}
	}

	//Paused
	.pause-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: black;
		visibility: hidden;
		opacity: 0;
		z-index: 100;
		transition: all 1s ease;
	}

	&.paused {
		.pause-overlay {
			visibility: visible;
			opacity: 1;
		}
	}

	//Fallback
	.no-transition,
	.no-transition * {
		transition: none !important;
	}

	//Backgrounds
	&[data-background-transition='none'] {
		--transition: none;
	}

	&[data-background-transition='slide'] {
		--opacity: 1;
		--transform_past: translate(-100%, 0);
		--transform_future: translate(100%, 0);
		// backface-visibility: hidden;
	}

	&[data-background-transition='convex'] {
		--opacity: 0;
		--transform_past: translate3d(-100%, 0, 0) rotateY(-90deg) translate3d(-100%, 0, 0);
		--transform_future: translate3d(100%, 0, 0) rotateY(90deg) translate3d(100%, 0, 0);
	}

	&[data-background-transition='concave'] {
		--opacity: 0;
		--transform_past: translate3d(-100%, 0, 0) rotateY(90deg) translate3d(-100%, 0, 0);
		--transform_future: translate3d(100%, 0, 0) rotateY(-90deg) translate3d(100%, 0, 0);
	}

	.backgrounds {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		perspective: 600px;
	}

	.slide-background {
		--background-size: cover;
		--transition: all 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);

		display: none;
		position: absolute;
		width: 100%;
		height: 100%;
		opacity: var(--opacity);
		visibility: hidden;
		overflow: hidden;

		background-color: rgba(0, 0, 0, 0);
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;

		transition: var(--transition);
		transition-duration: var(--transition-duration);

		&.stack {
			display: block;
		}

		&.present {
			opacity: 1;
			visibility: visible;
			z-index: 2;
		}

		&.past {
			transform: var(--transform_past);
		}

		&.future {
			transform: var(--transform_future);
		}

		&[data-background-size='contain'] {
			--background-size: contain;
		}

		&[data-background-transition='none'] {
			--transition: none;
		}

		&[data-background-transition='slide'] {
			--opacity: 1;
			--transform_past: translate(-100%, 0);
			--transform_future: translate(100%, 0);
		}

		video {
			position: absolute;
			width: 100%;
			height: 100%;
			max-width: none;
			max-height: none;
			top: 0;
			left: 0;
			object-fit: var(--background-size);
		}
	}

	//Overview
	&.overview {
		perspective-origin: 50% 50%;
		perspective: 700px;

		.slides {
			// Fixes overview rendering errors in FF48+, not applied to other browsers since it degrades performance
			-moz-transform-style: preserve-3d;

			section {
				height: 100%;
				top: 0 !important;
				opacity: 1 !important;
				overflow: hidden;
				visibility: visible !important;
				cursor: pointer;
				box-sizing: border-box;
				transition: none;

				&:hover,
				&.present {
					outline: 10px solid rgba(150, 150, 150, 0.4);
					outline-offset: 10px;
				}

				&:after,
				&:before {
					display: none !important;
				}

				&.stack {
					padding: 0;
					top: 0 !important;
					background: none;
					outline: none;
					overflow: visible;
				}

				.fragment {
					opacity: 1;
					transition: none;
				}

				.backgrounds {
					perspective: inherit;

					// Fixes overview rendering errors in FF48+, not applied to other browsers since it degrades performance
					-moz-transform-style: preserve-3d;

					.slide-background {
						opacity: 1;
						visibility: visible;

						// This can't be applied to the slide itself in Safari
						outline: 10px solid rgba(150, 150, 150, 0.1);
						outline-offset: 10px;

						&.stack {
							overflow: visible;
						}
					}
				}
			}
		}

		.playback {
			opacity: 0;
			visibility: hidden;
		}
	}

	//Playback
	.playback {
		position: absolute;
		left: 15px;
		bottom: 20px;
		z-index: 30;
		cursor: pointer;
		transition: all 400ms ease;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}
}

// Fix for mobile safari
@media only screen and (orientation: landscape) {
	.reveal.ua-iphone {
		position: fixed;
	}
}

//Fallbacks
.no-transforms {
	overflow-y: auto;

	.reveal .slides {
		position: relative;
		width: 80%;
		height: auto !important;
		top: 0;
		left: 50%;
		margin: 0;
		text-align: center;
	}

	section {
		display: block !important;
		opacity: 1 !important;
		position: relative !important;
		height: auto;
		min-height: 0;
		top: 0;
		left: -50%;
		margin: 70px 0;
		transform: none;

		section {
			left: 0;
			transition: none !important;
		}
	}
}

@import './transitions.scss';
@import './notes.scss';
