//Fonts
@font-face {
	font-family: 'Source Code Pro';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/SourceCodePro-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Quicksand';
	src: url('../fonts/Quicksand-VariableFont_wght.ttf') format('truetype');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 400;
	src: url('../fonts/Lato-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/Lato-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 700;
	src: url('../fonts/Lato-BoldItalic.ttf') format('truetype');
}

* {
	box-sizing: border-box;
}

@import './styles.scss';
