@import './global.scss';

body {
    background: $background;
    color: $grey_dark;
    font: $font_regular;
      font-size: 50px;
      line-height: 1.4;
    // max-height: 100vh;
    margin: 0;
    // overflow: hidden;
    // position: relative;
    // width: 100%;
    //   max-width: 100vw;
}

h1, h2, h3 {
    color: $grey_dark;
    font: $font_headings;
}
  
h1 {
    font-size: 14vh;
    text-align: center;
}

h2 {
    font-size: 1.6em;
}
  
h3 {
    color: $grey_dark;
    font-size: 20px;
}
  
a, span.link {
    color: $grey_dark;
    font: $font_regular;
    text-decoration: none;
}
  
ul {
    li {
        text-align: left;
    }
}
  
i {
    color: $grey_dark;
}

blockquote {
    margin: 20px;
    padding-left: 20px;
}

figure {
    position: relative;
}

figcaption {
    color: $grey_dark;
    font-size: 12px;
    padding-right: 10px;
    text-align: right;
}

button, .btn {
    border: 1.5px solid $grey_dark;
    display: inline-block;
    padding: 10px 20px;
}

.slides {
	text-align: center;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

p {
    font-size: 1em;
    line-height: 2em;
}

ul {
    font-size: 1em;
    list-style-type: disc;
    padding-left: 40px;
    
    li {
        font-size: 1em;
        list-style-type: disc;
    }
}

pre {
    padding: 5vw;
    text-align: left;
    white-space: normal;
}

header {
    height: $header;
    position: absolute;
        top: 0;
    width: 100vw;
    z-index: 10;
}

section {
    display: grid;
        justify-content: center;
        align-content: center;
        align-items: center;
    height: 100vh;
    padding: $header 0 $footer;
    position: relative;
    width: 100vw;
    z-index: 0;

    &.code {
        background: $grey_dark;
        color: #fff;

        &.split {
            color: $grey_dark;

            pre {
                color: #fff;
            }

            > * {
                padding: 5vw;
            }
        }

        &.vertical {
            background: linear-gradient(to right, $grey_dark 50%, $background 50%);
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
        }

        &.horizontal {
            background: linear-gradient(to bottom, $grey_dark 50%, $background 50%);
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
        }
    }

    &.image {
        img {
            height: 100vh;
            object-fit: cover;
            width: 100vw;
        }
    }
}

footer {
    color: $grey;
    display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    font-size: 0.5em;
    height: $footer;
    padding: 10px;
    position: absolute;
        bottom: 0;
    width: 100vw;
    z-index: 10;
}