@import './global.scss';

body {
    background: $background;
    color: $grey_dark;
    font: $font_regular;
      font-size: 100px;
      line-height: 1.4;
    // max-height: 100vh;
    margin: 0;
    // overflow: hidden;
    // position: relative;
    // width: 100%;
    //   max-width: 100vw;
}

h1, h2, h3 {
    color: $grey_dark;
    font: $font_headings;
}
  
h1 {
    font-size: 14vh;
    text-align: center;
}

h2 {
    font-size: 1.6em;
}
  
h3 {
    color: $grey_dark;
    font-size: 20px;
}
  
a, span.link {
    color: $grey_dark;
    font: $font_regular;
    text-decoration: none;
}
  
ul {
    li {
        text-align: left;
    }
}

dt {
    font-weight: bold;
}
  
i {
    color: $grey_dark;
}

blockquote {
    margin: 20px;
    padding-left: 20px;
}

figure {
    position: relative;
}

figcaption {
    color: $grey_dark;
    font-size: 12px;
    padding-right: 10px;
    text-align: right;
}

button, .btn {
    background: $grey_light;
    border: 1.5px solid $grey_dark;
    box-shadow: 0px 6px 0px $grey, 0px 3px 15px rgba(0,0,0,.4), inset 0px 1px 0px rgba(255,255,255,.3), inset 0px 0px 3px rgba(255,255,255,.5);
    border-radius: 30px;
    display: inline-block;
    font-size: 80px;
    margin: 0 auto;
    padding: 10px 20px;
    max-width: 1000px;
}

.slides {
	text-align: center;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

p {
    font-size: 1em;
    line-height: 1.5;
}

ul {
    font-size: 1em;
    list-style-type: disc;
    padding-left: 40px;
    
    li {
        font-size: 1em;
        list-style-type: disc;
    }
}

blockquote {
    border-left: 10px solid $grey_light;
    font-weight: bold;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";

    &:before {
        color: #ccc;
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
    }
}

mark {
    background-color: $cyan;
}

table {
    border-collapse: collapse;
    text-align: left;

    tr {

    }

    td, th {
        border: 1px solid $grey_dark;
        padding: 20px;
    }

    th {
        font-size: 1.3em;
    }
}

pre {
    background: $grey_dark;
    font-size: 0.5em;
    margin: 0;
    padding: 5vw;
    text-align: left;
    white-space: normal;
}

form {
    display: flex;
        flex-direction: column;
    margin: 0 auto;
    text-align: left;
    max-width: 1000px;

    label {
        font-size: 0.9em;
    }
}

legend {
    font-size: 1em;
    margin: 10px 0;
}

input, button {
    font-size: 1em;
    line-height: 1.5em;
    margin: 20px 0;
}

header {
    height: $header;
    position: absolute;
        top: 0;
    width: 100vw;
    z-index: 10;
}

section {
    display: grid;
        justify-content: stretch;
        justify-items: center;
        align-content: stretch;
        align-items: center;
    height: 100vh;
    padding: $header 0 $footer;
    position: relative;
    width: 100vw;
    z-index: 0;

    img {
        height: 100vh;
        object-fit: contain;
        width: 100vw;
    }

    &.index {
        align-content: start;
        font-size: 0.2em;
        justify-items: start;
        padding: 50px;
        text-align: left;

        a {
            color: $blue;
            display: block;
        }
    }

    &.blank {
        background: #000;
    }

    &.code {
        background: $grey_dark;
        color: #fff;

        pre {
            margin: 0;
            white-space: pre-wrap;
            word-wrap: break-word;
        }

        &.split {
            color: $grey_dark;

            pre {
                color: #fff;
            }

            > div {
                padding: 5vw;
            }

            img {
                height: 90vh;
                width: 90vw;
            }
        }

        &.vertical {
            align-items: stretch;
            background: linear-gradient(to right, $grey_dark 50%, $background 50%);
            grid-template-columns: 50vw 50vw;
            grid-template-rows: 100vw;

            &.compare {
                background: $grey_dark;
            }

            &.example {
                text-align: left;
            }

            img {
                width: 40vw;
            }
        }

        &.horizontal {
            background: linear-gradient(to bottom, $grey_dark 50%, $background 50%);
            grid-template-columns: 100vw;
            grid-template-rows: 50vh 50vh;

            img {
                height: 40vh;
            }
        }
    }

    &.image {
        img {
            object-fit: cover;
        }
    }

    &.question {
        align-items: stretch;
        justify-items: stretch;
        grid-gap: 2vw;
        grid-template-rows: 1fr 2fr;

        padding: 5vw;
        text-align: center;

        &.long {
            ul {
                display: grid;
                    grid-template-columns: 1fr;
                    grid-gap: 20px;
                    grid-auto-rows: 1fr;

                pre {
                    padding: 0;
                }
            }
        }
    
        ul {
            display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 20px;
                grid-auto-rows: 1fr;
            margin: 0;
            padding: 20px;

            &.code {
                li {
                    background: $grey_dark;
                    padding: 0;
                }
            }
        }

        p {
            font-size: 0.5em;
            margin: 0;
        }
    
        li {
            display: grid;
                align-items: center;
            border: 3px solid $grey_dark;
            font-size: 80px;
            list-style-type: none;
            padding: 30px;
            position: relative;
            margin: 0;
            text-align: center;

            &:before {
                color: #fff;
                border: 3px solid #fff;
                border-radius: 50%;
                font-size: 30px;
                height: 40px;
                position: absolute;
                    top: 5px;
                    left: 5px;
                width: 40px;
            }

            &:nth-child(1) {
                &:before {
                    content: 'A';
                }
            }

            &:nth-child(2) {
                &:before {
                    content: 'B';
                }
            }

            &:nth-child(3) {
                &:before {
                    content: 'C';
                }
            }

            &:nth-child(4) {
                &:before {
                    content: 'D';
                }
            }

            &.correct {
                border: 10px solid #21b621;
                padding: 23px;
            }
        }
    
        pre {
            align-self: center;
            justify-self: center;
            display: block;
            padding: 20px;
        }

        button {
            justify-self: center;
        }
    }

    &#slide-6 {
        grid-template-columns: 3fr 2fr;
        font-size: 80px;
        padding: 4vw;
        grid-gap: 2vw;

        > pre {
            padding: 0;
        }
    }

    &#slide-7 {
        font-size: 60px;

        div {
            font-size: 0.6em;
        }
    }

    &#slide-8 {
        font-size: 50px;

        table {
            font-size: 0.9em;
        }
    }

    &#slide-10 {
        font-size: 60px;
    }

    &#slide-9 {
        font-size: 80px;
    }

    &#slide-15 {
        font-size: 55px;

        svg {
            height: 1em;
            width: 1em;
        }

        table {
            align-self: start;
            max-width: 100%;

            td, th {
                height: 1em;
                text-align: center;
                vertical-align: center;

                &.good {
                    background: #71d671;
                }

                &.average {
                    background: #e69b5d;
                }

                &.poor {
                    background: #f14c4c;
                }
            }

        }
    }

    &#slide-12 {
        font-size: 70px;
    }

    &#slide-13 {
        font-size: 60px;

        div{
            font-size: 0.7em;

            p {
                line-height: 1.3;
            }

            cite {
                font-size: 0.8em;
            }
        }
    }

    &#slide-14 {
        font-size: 60px;

        div {
            font-size: 0.7em;

            blockquote {
                font-size: 1.2em;
                margin: 0.5em 10px;
            }
     
            cite {
                 font-size: 0.8em;
            }
        }
    }
}

.title {
    line-height: 1.2;
    text-transform: uppercase;

    mark {
        background: rgba($cyan, 0.3);
    }
}

footer {
    color: $grey;
    display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    font-size: 0.5em;
    height: $footer;
    opacity: 0.7;
    padding: 10px;
    position: absolute;
        bottom: 0;
    width: 100vw;
    z-index: 10;
}