@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/SourceCodePro-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Quicksand';
  src: url("../fonts/Quicksand-VariableFont_wght.ttf") format("truetype"); }

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Lato-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/Lato-Italic.ttf") format("truetype"); }

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Lato-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/Lato-BoldItalic.ttf") format("truetype"); }

* {
  box-sizing: border-box; }

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden; }

body {
  position: relative;
  line-height: 1;
  background-color: #fff;
  color: #000; }

.reveal {
  --transition-duration: 800ms;
  --opacity: 0;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  touch-action: none;
  /* Fixes issue in Chrome where italic fonts did not appear when printing to PDF */
  /** Prevents layering issues in certain browser/transition combinations */ }
  .reveal .slides {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    pointer-events: none;
    overflow: visible;
    z-index: 1;
    text-align: center;
    perspective: 600px;
    perspective-origin: 50% 40%; }
    .reveal .slides section {
      display: none;
      position: absolute;
      width: 100%;
      pointer-events: auto;
      z-index: 10;
      transform-style: flat;
      transition: transform-origin 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985), transform 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985), visibility 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985), opacity 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
      transition-duration: var(--transition-duration); }
      .reveal .slides section[data-transition-speed='fast'] {
        --transition-duration: 400ms; }
      .reveal .slides section[data-transition-speed='slow'] {
        --transition-duration: 1200ms; }
      .reveal .slides section.present {
        display: block;
        z-index: 11;
        opacity: 1; }
      .reveal .slides section:empty, .reveal .slides section[data-background-interactive] {
        pointer-events: none; }
      .reveal .slides section.future, .reveal .slides section.past {
        opacity: 0;
        pointer-events: none; }
      .reveal .slides section .fragment {
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s ease; }
        .reveal .slides section .fragment.visible {
          opacity: 1;
          visibility: inherit; }
        .reveal .slides section .fragment.grow {
          opacity: 1;
          visibility: inherit; }
          .reveal .slides section .fragment.grow.visible {
            transform: scale(1.3); }
        .reveal .slides section .fragment.shrink {
          opacity: 1;
          visibility: inherit; }
          .reveal .slides section .fragment.shrink.visible {
            transform: scale(0.7); }
        .reveal .slides section .fragment.zoom-in {
          transform: scale(0.1); }
          .reveal .slides section .fragment.zoom-in.visible {
            transform: none; }
        .reveal .slides section .fragment.fade-out {
          opacity: 1;
          visibility: inherit; }
          .reveal .slides section .fragment.fade-out.visible {
            opacity: 0;
            visibility: hidden; }
        .reveal .slides section .fragment.semi-fade-out {
          opacity: 1;
          visibility: inherit; }
          .reveal .slides section .fragment.semi-fade-out.visible {
            opacity: 0.5;
            visibility: inherit; }
        .reveal .slides section .fragment.strike {
          opacity: 1;
          visibility: inherit; }
          .reveal .slides section .fragment.strike.visible {
            text-decoration: line-through; }
        .reveal .slides section .fragment.fade-up {
          transform: translate(0, 20%); }
          .reveal .slides section .fragment.fade-up.visible {
            transform: translate(0, 0); }
        .reveal .slides section .fragment.fade-down {
          transform: translate(0, -20%); }
          .reveal .slides section .fragment.fade-down.visible {
            transform: translate(0, 0); }
        .reveal .slides section .fragment.fade-right {
          transform: translate(-20%, 0); }
          .reveal .slides section .fragment.fade-right.visible {
            transform: translate(0, 0); }
        .reveal .slides section .fragment.fade-left {
          transform: translate(20%, 0); }
          .reveal .slides section .fragment.fade-left.visible {
            transform: translate(0, 0); }
        .reveal .slides section .fragment.current-visible {
          opacity: 0;
          visibility: hidden; }
          .reveal .slides section .fragment.current-visible.current-fragment {
            opacity: 1;
            visibility: inherit; }
        .reveal .slides section .fragment[class^='highlight-'] {
          opacity: 1;
          visibility: inherit; }
        .reveal .slides section .fragment.highlight-red.visible, .reveal .slides section .fragment.highlight-current-red.current-fragment {
          color: #e53935; }
        .reveal .slides section .fragment.highlight-green.visible, .reveal .slides section .fragment.highlight-current-green.current-fragment {
          color: #228b22; }
        .reveal .slides section .fragment.highlight-blue.visible, .reveal .slides section .fragment.highlight-current-blue.current-fragment {
          color: #0070a8; }
    .reveal .slides > section {
      -ms-perspective: 600px; }
      .reveal .slides > section.stack {
        padding-top: 0;
        padding-bottom: 0; }
  .reveal:after {
    content: '';
    font-style: italic; }
  .reveal iframe {
    z-index: 1; }
  .reveal a {
    position: relative; }
  .reveal .stretch {
    max-width: none;
    max-height: none; }
  .reveal pre.stretch code {
    height: 100%;
    max-height: 100%;
    box-sizing: border-box; }
  .reveal[data-transition-speed='fast'] {
    --transition-duration: 400ms; }
  .reveal[data-transition-speed='slow'] {
    --transition-duration: 1200ms; }
  .reveal.center .slides {
    min-height: 0 !important; }
    .reveal.center .slides section {
      min-height: 0 !important; }
  .reveal.overview .slides section {
    pointer-events: auto; }
  .reveal .pause-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    visibility: hidden;
    opacity: 0;
    z-index: 100;
    transition: all 1s ease; }
  .reveal.paused .pause-overlay {
    visibility: visible;
    opacity: 1; }
  .reveal .no-transition,
  .reveal .no-transition * {
    transition: none !important; }
  .reveal[data-background-transition='none'] {
    --transition: none; }
  .reveal[data-background-transition='slide'] {
    --opacity: 1;
    --transform_past: translate(-100%, 0);
    --transform_future: translate(100%, 0); }
  .reveal[data-background-transition='convex'] {
    --opacity: 0;
    --transform_past: translate3d(-100%, 0, 0) rotateY(-90deg) translate3d(-100%, 0, 0);
    --transform_future: translate3d(100%, 0, 0) rotateY(90deg) translate3d(100%, 0, 0); }
  .reveal[data-background-transition='concave'] {
    --opacity: 0;
    --transform_past: translate3d(-100%, 0, 0) rotateY(90deg) translate3d(-100%, 0, 0);
    --transform_future: translate3d(100%, 0, 0) rotateY(-90deg) translate3d(100%, 0, 0); }
  .reveal .backgrounds {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 600px; }
  .reveal .slide-background {
    --background-size: cover;
    --transition: all 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: var(--opacity);
    visibility: hidden;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: var(--transition);
    transition-duration: var(--transition-duration); }
    .reveal .slide-background.stack {
      display: block; }
    .reveal .slide-background.present {
      opacity: 1;
      visibility: visible;
      z-index: 2; }
    .reveal .slide-background.past {
      transform: var(--transform_past); }
    .reveal .slide-background.future {
      transform: var(--transform_future); }
    .reveal .slide-background[data-background-size='contain'] {
      --background-size: contain; }
    .reveal .slide-background[data-background-transition='none'] {
      --transition: none; }
    .reveal .slide-background[data-background-transition='slide'] {
      --opacity: 1;
      --transform_past: translate(-100%, 0);
      --transform_future: translate(100%, 0); }
    .reveal .slide-background video {
      position: absolute;
      width: 100%;
      height: 100%;
      max-width: none;
      max-height: none;
      top: 0;
      left: 0;
      object-fit: var(--background-size); }
  .reveal.overview {
    perspective-origin: 50% 50%;
    perspective: 700px; }
    .reveal.overview .slides {
      -moz-transform-style: preserve-3d; }
      .reveal.overview .slides section {
        height: 100%;
        top: 0 !important;
        opacity: 1 !important;
        overflow: hidden;
        visibility: visible !important;
        cursor: pointer;
        box-sizing: border-box;
        transition: none; }
        .reveal.overview .slides section:hover, .reveal.overview .slides section.present {
          outline: 10px solid rgba(150, 150, 150, 0.4);
          outline-offset: 10px; }
        .reveal.overview .slides section:after, .reveal.overview .slides section:before {
          display: none !important; }
        .reveal.overview .slides section.stack {
          padding: 0;
          top: 0 !important;
          background: none;
          outline: none;
          overflow: visible; }
        .reveal.overview .slides section .fragment {
          opacity: 1;
          transition: none; }
        .reveal.overview .slides section .backgrounds {
          perspective: inherit;
          -moz-transform-style: preserve-3d; }
          .reveal.overview .slides section .backgrounds .slide-background {
            opacity: 1;
            visibility: visible;
            outline: 10px solid rgba(150, 150, 150, 0.1);
            outline-offset: 10px; }
            .reveal.overview .slides section .backgrounds .slide-background.stack {
              overflow: visible; }
    .reveal.overview .playback {
      opacity: 0;
      visibility: hidden; }
  .reveal .playback {
    position: absolute;
    left: 15px;
    bottom: 20px;
    z-index: 30;
    cursor: pointer;
    transition: all 400ms ease;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

@media only screen and (orientation: landscape) {
  .reveal.ua-iphone {
    position: fixed; } }

.no-transforms {
  overflow-y: auto; }
  .no-transforms .reveal .slides {
    position: relative;
    width: 80%;
    height: auto !important;
    top: 0;
    left: 50%;
    margin: 0;
    text-align: center; }
  .no-transforms section {
    display: block !important;
    opacity: 1 !important;
    position: relative !important;
    height: auto;
    min-height: 0;
    top: 0;
    left: -50%;
    margin: 70px 0;
    transform: none; }
    .no-transforms section section {
      left: 0;
      transition: none !important; }

/*********************************************
  * SLIDE TRANSITION
  * Aliased 'linear' for backwards compatibility
  *********************************************/
.reveal.slide section {
  backface-visibility: hidden; }

.reveal .slides > section[data-transition='slide'].past,
.reveal .slides > section[data-transition~='slide-out'].past,
.reveal.slide .slides > section:not([data-transition]).past {
  transform: translate(-150%, 0); }

.reveal .slides > section[data-transition='slide'].future,
.reveal .slides > section[data-transition~='slide-in'].future,
.reveal.slide .slides > section:not([data-transition]).future {
  transform: translate(150%, 0); }

.reveal .slides > section > section[data-transition='slide'].past,
.reveal .slides > section > section[data-transition~='slide-out'].past,
.reveal.slide .slides > section > section:not([data-transition]).past {
  transform: translate(0, -150%); }

.reveal .slides > section > section[data-transition='slide'].future,
.reveal .slides > section > section[data-transition~='slide-in'].future,
.reveal.slide .slides > section > section:not([data-transition]).future {
  transform: translate(0, 150%); }

.reveal.linear section {
  backface-visibility: hidden; }

.reveal .slides > section[data-transition='linear'].past,
.reveal .slides > section[data-transition~='linear-out'].past,
.reveal.linear .slides > section:not([data-transition]).past {
  transform: translate(-150%, 0); }

.reveal .slides > section[data-transition='linear'].future,
.reveal .slides > section[data-transition~='linear-in'].future,
.reveal.linear .slides > section:not([data-transition]).future {
  transform: translate(150%, 0); }

.reveal .slides > section > section[data-transition='linear'].past,
.reveal .slides > section > section[data-transition~='linear-out'].past,
.reveal.linear .slides > section > section:not([data-transition]).past {
  transform: translate(0, -150%); }

.reveal .slides > section > section[data-transition='linear'].future,
.reveal .slides > section > section[data-transition~='linear-in'].future,
.reveal.linear .slides > section > section:not([data-transition]).future {
  transform: translate(0, 150%); }

/*********************************************
  * CONVEX TRANSITION
  * Aliased 'default' for backwards compatibility
  *********************************************/
.reveal .slides section[data-transition='default'].stack,
.reveal.default .slides section.stack {
  transform-style: preserve-3d; }

.reveal .slides > section[data-transition='default'].past,
.reveal .slides > section[data-transition~='default-out'].past,
.reveal.default .slides > section:not([data-transition]).past {
  transform: translate3d(-100%, 0, 0) rotateY(-90deg) translate3d(-100%, 0, 0); }

.reveal .slides > section[data-transition='default'].future,
.reveal .slides > section[data-transition~='default-in'].future,
.reveal.default .slides > section:not([data-transition]).future {
  transform: translate3d(100%, 0, 0) rotateY(90deg) translate3d(100%, 0, 0); }

.reveal .slides > section > section[data-transition='default'].past,
.reveal .slides > section > section[data-transition~='default-out'].past,
.reveal.default .slides > section > section:not([data-transition]).past {
  transform: translate3d(0, -300px, 0) rotateX(70deg) translate3d(0, -300px, 0); }

.reveal .slides > section > section[data-transition='default'].future,
.reveal .slides > section > section[data-transition~='default-in'].future,
.reveal.default .slides > section > section:not([data-transition]).future {
  transform: translate3d(0, 300px, 0) rotateX(-70deg) translate3d(0, 300px, 0); }

.reveal .slides section[data-transition='convex'].stack,
.reveal.convex .slides section.stack {
  transform-style: preserve-3d; }

.reveal .slides > section[data-transition='convex'].past,
.reveal .slides > section[data-transition~='convex-out'].past,
.reveal.convex .slides > section:not([data-transition]).past {
  transform: translate3d(-100%, 0, 0) rotateY(-90deg) translate3d(-100%, 0, 0); }

.reveal .slides > section[data-transition='convex'].future,
.reveal .slides > section[data-transition~='convex-in'].future,
.reveal.convex .slides > section:not([data-transition]).future {
  transform: translate3d(100%, 0, 0) rotateY(90deg) translate3d(100%, 0, 0); }

.reveal .slides > section > section[data-transition='convex'].past,
.reveal .slides > section > section[data-transition~='convex-out'].past,
.reveal.convex .slides > section > section:not([data-transition]).past {
  transform: translate3d(0, -300px, 0) rotateX(70deg) translate3d(0, -300px, 0); }

.reveal .slides > section > section[data-transition='convex'].future,
.reveal .slides > section > section[data-transition~='convex-in'].future,
.reveal.convex .slides > section > section:not([data-transition]).future {
  transform: translate3d(0, 300px, 0) rotateX(-70deg) translate3d(0, 300px, 0); }

/*********************************************
  * CONCAVE TRANSITION
  *********************************************/
.reveal .slides section[data-transition='concave'].stack,
.reveal.concave .slides section.stack {
  transform-style: preserve-3d; }

.reveal .slides > section[data-transition='concave'].past,
.reveal .slides > section[data-transition~='concave-out'].past,
.reveal.concave .slides > section:not([data-transition]).past {
  transform: translate3d(-100%, 0, 0) rotateY(90deg) translate3d(-100%, 0, 0); }

.reveal .slides > section[data-transition='concave'].future,
.reveal .slides > section[data-transition~='concave-in'].future,
.reveal.concave .slides > section:not([data-transition]).future {
  transform: translate3d(100%, 0, 0) rotateY(-90deg) translate3d(100%, 0, 0); }

.reveal .slides > section > section[data-transition='concave'].past,
.reveal .slides > section > section[data-transition~='concave-out'].past,
.reveal.concave .slides > section > section:not([data-transition]).past {
  transform: translate3d(0, -80%, 0) rotateX(-70deg) translate3d(0, -80%, 0); }

.reveal .slides > section > section[data-transition='concave'].future,
.reveal .slides > section > section[data-transition~='concave-in'].future,
.reveal.concave .slides > section > section:not([data-transition]).future {
  transform: translate3d(0, 80%, 0) rotateX(70deg) translate3d(0, 80%, 0); }

/*********************************************
  * ZOOM TRANSITION
  *********************************************/
.reveal .slides section[data-transition='zoom'],
.reveal.zoom .slides section:not([data-transition]) {
  transition-timing-function: ease; }

.reveal .slides > section[data-transition='zoom'].past,
.reveal .slides > section[data-transition~='zoom-out'].past,
.reveal.zoom .slides > section:not([data-transition]).past {
  visibility: hidden;
  transform: scale(16); }

.reveal .slides > section[data-transition='zoom'].future,
.reveal .slides > section[data-transition~='zoom-in'].future,
.reveal.zoom .slides > section:not([data-transition]).future {
  visibility: hidden;
  transform: scale(0.2); }

.reveal .slides > section > section[data-transition='zoom'].past,
.reveal .slides > section > section[data-transition~='zoom-out'].past,
.reveal.zoom .slides > section > section:not([data-transition]).past {
  transform: translate(0, -150%); }

.reveal .slides > section > section[data-transition='zoom'].future,
.reveal .slides > section > section[data-transition~='zoom-in'].future,
.reveal.zoom .slides > section > section:not([data-transition]).future {
  transform: translate(0, 150%); }

/*********************************************
  * FADE TRANSITION
  *********************************************/
.reveal .slides section[data-transition='fade'],
.reveal.fade .slides section:not([data-transition]),
.reveal.fade .slides > section > section:not([data-transition]) {
  transform: none;
  transition: opacity 0.5s; }

.reveal.fade.overview .slides section,
.reveal.fade.overview .slides > section > section {
  transition: none; }

/*********************************************
  * NO TRANSITION
  *********************************************/
.reveal .slides section[data-transition='none'],
.reveal.none .slides section:not([data-transition]) {
  transform: none;
  transition: none; }

.reveal aside.notes {
  display: none; }

.reveal .speaker-notes {
  display: none;
  position: absolute;
  width: 25vw;
  height: 100%;
  top: 0;
  left: 100%;
  padding: 14px 18px 14px 18px;
  z-index: 1;
  font-size: 18px;
  line-height: 1.4;
  border: 1px solid rgba(0, 0, 0, 0.05);
  color: #222;
  background-color: #f5f5f5;
  overflow: auto;
  box-sizing: border-box;
  text-align: left;
  font-family: Helvetica, sans-serif;
  -webkit-overflow-scrolling: touch; }
  .reveal .speaker-notes .notes-placeholder {
    color: #ccc;
    font-style: italic; }
  .reveal .speaker-notes:focus {
    outline: none; }
  .reveal .speaker-notes:before {
    content: 'Speaker notes';
    display: block;
    margin-bottom: 10px;
    opacity: 0.5; }

.reveal.show-notes {
  max-width: 75vw;
  overflow: visible; }
  .reveal.show-notes .speaker-notes {
    display: block;
    font-size: var(--notes-size); }

@media screen and (min-width: 1600px) {
  .reveal {
    --notes-size: 20px; } }

@media screen and (max-width: 1024px) {
  .reveal.show-notes {
    border-left: 0;
    max-width: none;
    max-height: 70%;
    overflow: visible; }
    .reveal.show-notes .speaker-notes {
      top: 100%;
      left: 0;
      width: 100%;
      height: 42.85714%; } }

@media screen and (max-width: 600px) {
  .reveal {
    --notes-size: 14px; }
    .reveal .show-notes {
      max-height: 60%; }
      .reveal .show-notes .speaker-notes {
        top: 100%;
        height: 66.66667%; } }

@charset "UTF-8";
:root {
  --header: 0;
  --footer: 5vh; }

body {
  background: #faf8ef;
  color: #080808;
  font-family: "Lato", Arial, sans-serif;
  font-size: 10vh;
  line-height: 1.4;
  margin: 0; }
  body .progress {
    visibility: hidden; }

h1,
h2,
h3 {
  color: #080808;
  font-family: "Quicksand", Arial, sans-serif; }

h1 {
  font-size: 1.5em;
  text-align: center; }

h2 {
  font-size: 1.6em; }

h3 {
  color: #080808;
  font-size: 1.4em; }

a,
span.link {
  color: #080808;
  font-family: "Lato", Arial, sans-serif;
  text-decoration: none; }

ul li {
  text-align: left; }

dt {
  font-weight: bold; }

i {
  color: #080808; }

blockquote {
  margin: 20px;
  padding-left: 20px; }

figure {
  display: grid;
  grid-template-rows: 1fr 10vh;
  justify-content: center;
  justify-items: center;
  height: calc(100vh - var(--footer) - var(--header));
  margin-top: 3vh;
  position: relative; }
  figure img {
    height: 100%;
    object-fit: contain;
    max-width: 100%; }
    figure img.graphic {
      align-self: center;
      max-height: 90%; }

figcaption {
  color: #080808;
  font-size: 1em;
  padding: 1vh 10px 0 0;
  padding-top: 1vh;
  font-size: 0.3em;
  text-align: center; }

button,
.btn {
  background: #ededed;
  border: 1.5px solid #080808;
  box-shadow: 0px 6px 0px #4c4d4e, 0px 3px 15px rgba(0, 0, 0, 0.4), inset 0px 1px 0px rgba(255, 255, 255, 0.3), inset 0px 0px 3px rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  display: inline-block;
  font-size: 80px;
  margin: 0 auto;
  padding: 10px 20px;
  max-width: 1000px; }

.slides {
  text-align: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  .slides.border section {
    border-left: 20px solid #00acbb; }
    .slides.border section.blank {
      border: none; }
  .slides.grid:before {
    background-size: 40px 40px;
    background-image: linear-gradient(to right, #ededed 1px, transparent 1px), linear-gradient(to bottom, #ededed 1px, transparent 1px);
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0; }

p {
  font-size: 1em;
  line-height: 1.5; }

ul {
  font-size: 1em;
  list-style-type: disc;
  padding-left: 40px; }
  ul li {
    font-size: 1em;
    list-style-type: disc; }

dd {
  font-size: 0.8em;
  font-style: italic; }

blockquote {
  border-left: 10px solid #ededed;
  font-weight: bold;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "“" "”" "‘" "’"; }
  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em; }

mark {
  background-color: #00acbb; }

table {
  border-collapse: collapse;
  text-align: left; }
  table td,
  table th {
    border: 1px solid #080808;
    padding: 20px; }
  table th {
    font-size: 1.3em; }

pre {
  background: #080808;
  font-family: "Source Code Pro", monospace;
  font-size: 0.5em;
  margin: 0;
  padding: 5vw;
  text-align: left;
  white-space: normal; }

small {
  font-size: 0.5em; }

form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: left;
  max-width: 1000px; }
  form label {
    font-size: 0.9em; }

legend {
  font-size: 1em;
  margin: 10px 0; }

input,
button {
  font-size: 1em;
  line-height: 1.5em;
  margin: 20px 0; }

header {
  height: var(--header);
  top: 0; }

header,
footer {
  color: #4c4d4e;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 0.4em;
  opacity: 0.7;
  padding: 10px;
  position: absolute;
  width: 100vw;
  z-index: 10; }

section {
  display: grid;
  justify-content: stretch;
  justify-items: center;
  align-content: stretch;
  align-items: center;
  height: 100vh;
  padding: var(--header) 0 var(--footer);
  position: relative;
  width: 100vw;
  z-index: 0; }
  section header {
    font-size: 0.4em;
    height: auto;
    width: 100%;
    z-index: -1; }
  section > img,
  section video {
    height: 100vh;
    object-fit: contain;
    width: 100vw; }
    section > img.background,
    section video.background {
      object-fit: cover;
      max-height: unset;
      min-width: 100vw; }
    section > img.graphic,
    section video.graphic {
      padding: 100px; }
  section .image-container {
    height: 100%;
    width: 100%; }
    section .image-container svg,
    section .image-container img {
      max-height: 100%; }
    section .image-container.caption {
      display: grid;
      grid-template-rows: 1fr auto;
      align-items: center;
      justify-items: center;
      padding: 20px; }
  section.index {
    align-content: start;
    font-size: 0.2em;
    justify-items: start;
    padding: 50px;
    text-align: left; }
    section.index a {
      color: #0070a8;
      display: block; }
  section.blank {
    background: #000; }
    section.blank header {
      display: none; }
  section.code {
    background: #080808;
    color: #fff; }
    section.code pre {
      margin: 0;
      white-space: pre-wrap;
      word-wrap: break-word; }
    section.code.split {
      color: #080808; }
      section.code.split pre {
        color: #fff; }
      section.code.split > div {
        padding: 5vw; }
      section.code.split img {
        height: 90vh;
        width: 90vw; }
    section.code.vertical {
      align-items: stretch;
      background: linear-gradient(to right, #080808 50%, #faf8ef 50%);
      grid-template-columns: 50vw 50vw;
      grid-template-rows: 100vw; }
      section.code.vertical.compare {
        background: #080808; }
      section.code.vertical.example {
        text-align: left; }
      section.code.vertical img {
        width: 40vw; }
    section.code.horizontal {
      background: linear-gradient(to bottom, #080808 50%, #faf8ef 50%);
      grid-template-columns: 100vw;
      grid-template-rows: 50vh 50vh; }
      section.code.horizontal img {
        height: 40vh; }
      section.code.horizontal > pre {
        max-height: 50vh; }
  section.image img {
    object-fit: cover; }
  section.question {
    align-items: stretch;
    justify-items: stretch;
    grid-gap: 2vw;
    grid-template-rows: 1fr 2fr;
    padding: 5vw;
    text-align: center; }
    section.question.long ul {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 20px;
      grid-auto-rows: 1fr; }
      section.question.long ul pre {
        padding: 0; }
    section.question ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      grid-auto-rows: 1fr;
      margin: 0;
      padding: 20px; }
      section.question ul.code li {
        background: #080808;
        padding: 0; }
    section.question p {
      font-size: 0.5em;
      margin: 0; }
    section.question li {
      display: grid;
      align-items: center;
      border: 3px solid #080808;
      font-size: 80px;
      list-style-type: none;
      padding: 30px;
      position: relative;
      margin: 0;
      text-align: center; }
      section.question li:before {
        color: #fff;
        border: 3px solid #fff;
        border-radius: 50%;
        font-size: 30px;
        height: 40px;
        position: absolute;
        top: 5px;
        left: 5px;
        width: 40px; }
      section.question li:nth-child(1):before {
        content: 'A'; }
      section.question li:nth-child(2):before {
        content: 'B'; }
      section.question li:nth-child(3):before {
        content: 'C'; }
      section.question li:nth-child(4):before {
        content: 'D'; }
      section.question li.correct {
        border: 10px solid #21b621;
        padding: 23px; }
      section.question li img {
        height: auto;
        max-height: 25vh;
        margin: 0 auto;
        width: auto;
        max-width: 30vw; }
    section.question pre {
      align-self: center;
      justify-self: center;
      display: block;
      padding: 20px; }
    section.question button {
      justify-self: center; }
  section.grid {
    font-size: 0.5em; }
    section.grid.r2 {
      grid-template-rows: 1fr 1fr; }
      section.grid.r2.header {
        grid-template-rows: auto 1fr 1fr; }
    section.grid.r2-1 {
      grid-template-rows: 2fr 1fr; }
    section.grid.r1-2 {
      grid-template-rows: 1fr 2fr; }
    section.grid.c2 {
      grid-template-columns: 1fr 1fr; }

.uppercase {
  text-transform: uppercase; }
  .uppercase mark {
    background: rgba(0, 172, 187, 0.3); }

.title {
  line-height: 1.2;
  font-size: 1.5em; }
  .title mark {
    background: rgba(0, 172, 187, 0.3); }

footer {
  height: var(--footer);
  bottom: 0; }

.custom-1 section#slide-6 {
  grid-template-columns: 3fr 2fr;
  font-size: 80px;
  padding: 4vw;
  grid-gap: 2vw; }
  .custom-1 section#slide-6 > pre {
    padding: 0; }

.custom-1 section#slide-7 {
  font-size: 60px; }
  .custom-1 section#slide-7 div {
    font-size: 0.6em; }

.custom-1 section#slide-8 {
  font-size: 50px; }
  .custom-1 section#slide-8 table {
    font-size: 0.9em; }

.custom-1 section#slide-10 {
  font-size: 60px; }

.custom-1 section#slide-9 {
  font-size: 80px; }

.custom-1 section#slide-15 {
  font-size: 55px; }
  .custom-1 section#slide-15 svg {
    height: 1em;
    width: 1em; }
  .custom-1 section#slide-15 table {
    align-self: start;
    max-width: 100%; }
    .custom-1 section#slide-15 table td,
    .custom-1 section#slide-15 table th {
      height: 1em;
      text-align: center;
      vertical-align: center; }
      .custom-1 section#slide-15 table td.good,
      .custom-1 section#slide-15 table th.good {
        background: #71d671; }
      .custom-1 section#slide-15 table td.average,
      .custom-1 section#slide-15 table th.average {
        background: #e69b5d; }
      .custom-1 section#slide-15 table td.poor,
      .custom-1 section#slide-15 table th.poor {
        background: #f14c4c; }

.custom-1 section#slide-12 {
  font-size: 70px; }

.custom-1 section#slide-13 {
  font-size: 60px; }
  .custom-1 section#slide-13 div {
    font-size: 0.7em; }
    .custom-1 section#slide-13 div p {
      line-height: 1.3; }
    .custom-1 section#slide-13 div cite {
      font-size: 0.8em; }

.custom-1 section#slide-14 {
  font-size: 60px; }
  .custom-1 section#slide-14 div {
    font-size: 0.7em; }
    .custom-1 section#slide-14 div blockquote {
      font-size: 1.2em;
      margin: 0.5em 10px; }
    .custom-1 section#slide-14 div cite {
      font-size: 0.8em; }

.custom-2 {
  font-size: 10vh; }
  .custom-2 section ul {
    font-size: 0.7em;
    margin-left: 7vw; }
    .custom-2 section ul li {
      margin: 0.7em 0; }
  .custom-2 section .fragment.fade-in-then-semi-out.visible {
    opacity: 0.3; }
    .custom-2 section .fragment.fade-in-then-semi-out.visible.current-fragment {
      opacity: 1; }

.custom-3 section.list {
  justify-items: stretch; }

.custom-3 section ul {
  font-size: 0.7em;
  margin-left: 2em;
  width: auto; }

.custom-4 section .tagcloud {
  font-size: 0.44em; }
  .custom-4 section .tagcloud span:nth-child(1) {
    font-size: 100%; }
  .custom-4 section .tagcloud span:nth-child(2) {
    font-size: 110%; }
  .custom-4 section .tagcloud span:nth-child(3) {
    font-size: 120%; }
  .custom-4 section .tagcloud span:nth-child(4) {
    font-size: 130%; }
  .custom-4 section .tagcloud span:nth-child(5) {
    font-size: 140%; }
  .custom-4 section .tagcloud span:nth-child(6) {
    font-size: 150%; }
  .custom-4 section .tagcloud span:nth-child(7) {
    font-size: 160%; }
  .custom-4 section .tagcloud span:nth-child(8) {
    font-size: 170%; }
  .custom-4 section .tagcloud span:nth-child(9) {
    font-size: 180%; }
  .custom-4 section .tagcloud span:nth-child(10) {
    font-size: 190%; }
  .custom-4 section .tagcloud span:nth-child(11) {
    font-size: 200%; }
  .custom-4 section .tagcloud span:nth-child(12) {
    font-size: 210%; }
  .custom-4 section .tagcloud span:nth-child(13) {
    font-size: 220%; }
  .custom-4 section .tagcloud span:nth-child(14) {
    font-size: 230%; }
  .custom-4 section .tagcloud span:nth-child(15) {
    font-size: 240%; }

.custom-5 .title small {
  font-size: 0.7em; }

.custom-5 section {
  justify-items: stretch; }
  .custom-5 section.white {
    background: #fff; }
  .custom-5 section.small {
    font-size: 3vh; }
    .custom-5 section.small pre {
      font-size: 0.8em;
      padding: 1vw 3vw; }
    .custom-5 section.small > div {
      padding: 5vw 2vw; }
    .custom-5 section.small.very {
      font-size: 2vh; }
  .custom-5 section.smallish {
    font-size: 6vh; }
    .custom-5 section.smallish.code {
      font-size: 9vh; }
  .custom-5 section > * {
    max-height: 95vh;
    overflow: hidden; }
  .custom-5 section > ul {
    margin-left: 3vw; }
  .custom-5 section.split.horizontal .image-container {
    padding: 1vh 5vw; }
    .custom-5 section.split.horizontal .image-container img {
      border: 3px solid #080808;
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto; }
  .custom-5 section > img {
    width: 95vw;
    display: block;
    margin: 0 auto; }
  .custom-5 section.code pre {
    display: flex;
    align-items: center; }

.custom-5 .body {
  font-size: 16px;
  font-family: 'Times New Roman', serif;
  text-align: left;
  padding: 20px; }
  .custom-5 .body * {
    font-family: 'Times New Roman', serif; }
  .custom-5 .body h1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    text-align: left; }
  .custom-5 .body a {
    color: #0000ee;
    text-decoration: underline; }
  .custom-5 .body dd {
    font-style: normal;
    font-size: 1em; }

.custom-5 iframe {
  border: 0; }
  .custom-5 iframe.background {
    height: 100vh;
    max-height: unset;
    width: 100vw; }

.custom-5 table td {
  border: none; }

.custom-5 .table-example div {
  text-align: left; }
  .custom-5 .table-example div * {
    box-sizing: content-box; }
  .custom-5 .table-example div .header {
    background: #1c75bc;
    box-sizing: border-box;
    height: 100px;
    padding: 30px; }
    .custom-5 .table-example div .header h1 {
      margin-top: 10px; }
  .custom-5 .table-example div nav {
    background: #8ebade;
    clear: both;
    height: 40px;
    padding: 15px 20px 10px; }
  .custom-5 .table-example div .main {
    background: #8bd3d8;
    clear: both;
    overflow: hidden; }
  .custom-5 .table-example div .aside {
    float: left;
    height: 100%;
    padding: 20px;
    width: calc(25% - 40px); }
    .custom-5 .table-example div .aside nav {
      background: #8bd3d8;
      height: 100%;
      padding: 0; }
  .custom-5 .table-example div .article {
    background: #e8f6f7;
    float: left;
    padding: 20px;
    width: calc(55% - 40px); }
  .custom-5 .table-example div .footer {
    background: #16a6b1;
    clear: both;
    height: 40px;
    padding: 10px;
    text-align: center; }

.custom-5 .table-example.flexy div .header {
  display: flex;
  align-items: center;
  height: 100px;
  padding: 10px;
  justify-content: center; }

.custom-5 .table-example.flexy div nav {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 10px; }

.custom-5 .table-example.flexy div .main {
  display: flex; }

.custom-5 .table-example.flexy div .aside {
  height: 100%;
  padding: 10px;
  width: 20%; }
  .custom-5 .table-example.flexy div .aside nav {
    background: inherit;
    flex-wrap: wrap; }

.custom-5 .table-example.flexy div .article {
  padding: 10px;
  width: 55%; }

.custom-5 .table-example.flexy div .footer {
  height: 40px;
  padding: 10px;
  text-align: center; }

.custom-5 .table-example.griddy > div {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-content: center; }
  .custom-5 .table-example.griddy > div:after {
    background: #8bd3d8;
    content: '';
    grid-column: -2;
    grid-row: 3; }

.custom-5 .table-example.griddy .header {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1 / -1;
  height: 100px;
  padding: 10px; }
  .custom-5 .table-example.griddy .header h1 {
    margin: 0; }

.custom-5 .table-example.griddy nav {
  display: flex;
  align-items: center;
  grid-column: 1 / -1;
  height: 40px;
  padding: 10px; }

.custom-5 .table-example.griddy .aside {
  box-sizing: border-box;
  padding: 10px;
  background: #8bd3d8;
  float: none;
  width: auto; }
  .custom-5 .table-example.griddy .aside nav {
    background: inherit;
    flex-wrap: wrap;
    height: auto; }

.custom-5 .table-example.griddy .main {
  background: #e8f6f7;
  grid-column: span 3;
  padding: 10px; }
  .custom-5 .table-example.griddy .main .article {
    float: none;
    width: auto;
    padding: 0; }
    .custom-5 .table-example.griddy .main .article h1 {
      margin: 0; }

.custom-5 .table-example.griddy .footer {
  grid-column: 1 / -1;
  height: 40px;
  padding: 10px;
  text-align: center; }

.custom-5 .table-grid {
  font-size: 0.8em;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 1.5em 1.5em;
  grid-auto-columns: 1fr; }
  .custom-5 .table-grid img {
    width: 1em; }
  .custom-5 .table-grid.diff {
    grid-auto-columns: auto;
    font-size: 0.5em; }

.custom-6 section > img.background {
  width: 100vw; }

.custom-6 section > img.graphic {
  padding: 50px 50px 0; }

.custom-6 section.compare {
  font-size: 0.9em; }
  .custom-6 section.compare.small {
    font-size: 3vh; }

.custom-6 section p.small {
  font-size: 0.5em; }

.custom-6 .table-grid.diff {
  font-size: 0.4em; }

.custom-7 section.small pre {
  font-size: 0.7em; }

.custom-7 section.small.very pre {
  font-size: 0.9em; }

.custom-7 section .layout-example > table {
  width: 100%; }

.custom-7 section.table-example > div .header {
  height: 155px;
  padding: 20px; }
  .custom-7 section.table-example > div .header h1 {
    margin-top: revert; }

.custom-7 section.table-example > div nav,
.custom-7 section.table-example > div .footer {
  box-sizing: border-box;
  height: 78px;
  padding: 20px; }

.custom-7 section.table-example.flexy > div .header {
  height: 155px; }

.custom-7 section.table-example.flexy > div nav,
.custom-7 section.table-example.flexy > div .footer {
  height: 78px;
  padding: 20px; }

.custom-7 section.table-example.flexy > div .aside {
  float: none;
  padding: 20px;
  width: calc(25% - 40px); }
  .custom-7 section.table-example.flexy > div .aside nav {
    padding: 0; }

.custom-7 section.table-example.flexy > div .article {
  float: none;
  padding: 20px;
  width: calc(55% - 40px); }

.custom-7 section.table-example.griddy > div {
  grid-template-columns: repeat(4, 1fr); }
  .custom-7 section.table-example.griddy > div .header {
    height: 155px; }
  .custom-7 section.table-example.griddy > div nav {
    height: 78px;
    padding: 20px; }
  .custom-7 section.table-example.griddy > div .aside {
    padding: 20px; }
    .custom-7 section.table-example.griddy > div .aside nav {
      padding: 0; }
  .custom-7 section.table-example.griddy > div .main {
    grid-column: span 2;
    padding: 20px; }
  .custom-7 section.table-example.griddy > div .footer {
    height: 78px;
    padding: 20px; }

.custom-7 section.center {
  justify-content: center; }

.custom-7 section figure {
  display: grid;
  grid-template-rows: 1fr 10vh;
  height: 90vh;
  margin-top: 3vh;
  justify-content: center;
  justify-items: center; }
  .custom-7 section figure img {
    height: 100%;
    object-fit: contain; }
    .custom-7 section figure img.graphic {
      align-self: center;
      max-height: 90%; }

.custom-7 section figcaption {
  padding-top: 1vh;
  font-size: 0.3em;
  text-align: center; }

.custom-7 section.blank figcaption {
  color: #fff; }

.custom-7 section.medium {
  font-size: 7vh; }

.custom-7 section.smallish li {
  font-size: 0.8em; }

.custom-8 .section figure {
  display: grid;
  grid-template-rows: 1fr 10vh;
  height: 90vh;
  margin-top: 3vh;
  justify-content: center;
  justify-items: center; }
  .custom-8 .section figure img {
    height: 100%;
    object-fit: contain; }
    .custom-8 .section figure img.graphic {
      align-self: center;
      max-height: 90%; }

.custom-8 .section figcaption {
  padding-top: 1vh;
  font-size: 0.3em;
  text-align: center; }

.custom-8 .section.blank figcaption {
  color: #fff; }

.custom-1 section#slide-6 {
  grid-template-columns: 3fr 2fr;
  font-size: 80px;
  padding: 4vw;
  grid-gap: 2vw; }
  .custom-1 section#slide-6 > pre {
    padding: 0; }

.custom-1 section#slide-7 {
  font-size: 60px; }
  .custom-1 section#slide-7 div {
    font-size: 0.6em; }

.custom-1 section#slide-8 {
  font-size: 50px; }
  .custom-1 section#slide-8 table {
    font-size: 0.9em; }

.custom-1 section#slide-10 {
  font-size: 60px; }

.custom-1 section#slide-9 {
  font-size: 80px; }

.custom-1 section#slide-15 {
  font-size: 55px; }
  .custom-1 section#slide-15 svg {
    height: 1em;
    width: 1em; }
  .custom-1 section#slide-15 table {
    align-self: start;
    max-width: 100%; }
    .custom-1 section#slide-15 table td,
    .custom-1 section#slide-15 table th {
      height: 1em;
      text-align: center;
      vertical-align: center; }
      .custom-1 section#slide-15 table td.good,
      .custom-1 section#slide-15 table th.good {
        background: #71d671; }
      .custom-1 section#slide-15 table td.average,
      .custom-1 section#slide-15 table th.average {
        background: #e69b5d; }
      .custom-1 section#slide-15 table td.poor,
      .custom-1 section#slide-15 table th.poor {
        background: #f14c4c; }

.custom-1 section#slide-12 {
  font-size: 70px; }

.custom-1 section#slide-13 {
  font-size: 60px; }
  .custom-1 section#slide-13 div {
    font-size: 0.7em; }
    .custom-1 section#slide-13 div p {
      line-height: 1.3; }
    .custom-1 section#slide-13 div cite {
      font-size: 0.8em; }

.custom-1 section#slide-14 {
  font-size: 60px; }
  .custom-1 section#slide-14 div {
    font-size: 0.7em; }
    .custom-1 section#slide-14 div blockquote {
      font-size: 1.2em;
      margin: 0.5em 10px; }
    .custom-1 section#slide-14 div cite {
      font-size: 0.8em; }

.custom-2 {
  font-size: 10vh; }
  .custom-2 section ul {
    font-size: 0.7em;
    margin-left: 7vw; }
    .custom-2 section ul li {
      margin: 0.7em 0; }
  .custom-2 section .fragment.fade-in-then-semi-out.visible {
    opacity: 0.3; }
    .custom-2 section .fragment.fade-in-then-semi-out.visible.current-fragment {
      opacity: 1; }

.custom-3 section.list {
  justify-items: stretch; }

.custom-3 section ul {
  font-size: 0.7em;
  margin-left: 2em;
  width: auto; }

.custom-4 section .tagcloud {
  font-size: 0.44em; }
  .custom-4 section .tagcloud span:nth-child(1) {
    font-size: 100%; }
  .custom-4 section .tagcloud span:nth-child(2) {
    font-size: 110%; }
  .custom-4 section .tagcloud span:nth-child(3) {
    font-size: 120%; }
  .custom-4 section .tagcloud span:nth-child(4) {
    font-size: 130%; }
  .custom-4 section .tagcloud span:nth-child(5) {
    font-size: 140%; }
  .custom-4 section .tagcloud span:nth-child(6) {
    font-size: 150%; }
  .custom-4 section .tagcloud span:nth-child(7) {
    font-size: 160%; }
  .custom-4 section .tagcloud span:nth-child(8) {
    font-size: 170%; }
  .custom-4 section .tagcloud span:nth-child(9) {
    font-size: 180%; }
  .custom-4 section .tagcloud span:nth-child(10) {
    font-size: 190%; }
  .custom-4 section .tagcloud span:nth-child(11) {
    font-size: 200%; }
  .custom-4 section .tagcloud span:nth-child(12) {
    font-size: 210%; }
  .custom-4 section .tagcloud span:nth-child(13) {
    font-size: 220%; }
  .custom-4 section .tagcloud span:nth-child(14) {
    font-size: 230%; }
  .custom-4 section .tagcloud span:nth-child(15) {
    font-size: 240%; }

.custom-5 .title small {
  font-size: 0.7em; }

.custom-5 section {
  justify-items: stretch; }
  .custom-5 section.white {
    background: #fff; }
  .custom-5 section.small {
    font-size: 3vh; }
    .custom-5 section.small pre {
      font-size: 0.8em;
      padding: 1vw 3vw; }
    .custom-5 section.small > div {
      padding: 5vw 2vw; }
    .custom-5 section.small.very {
      font-size: 2vh; }
  .custom-5 section.smallish {
    font-size: 6vh; }
    .custom-5 section.smallish.code {
      font-size: 9vh; }
  .custom-5 section > * {
    max-height: 95vh;
    overflow: hidden; }
  .custom-5 section > ul {
    margin-left: 3vw; }
  .custom-5 section.split.horizontal .image-container {
    padding: 1vh 5vw; }
    .custom-5 section.split.horizontal .image-container img {
      border: 3px solid #080808;
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto; }
  .custom-5 section > img {
    width: 95vw;
    display: block;
    margin: 0 auto; }
  .custom-5 section.code pre {
    display: flex;
    align-items: center; }

.custom-5 .body {
  font-size: 16px;
  font-family: 'Times New Roman', serif;
  text-align: left;
  padding: 20px; }
  .custom-5 .body * {
    font-family: 'Times New Roman', serif; }
  .custom-5 .body h1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    text-align: left; }
  .custom-5 .body a {
    color: #0000ee;
    text-decoration: underline; }
  .custom-5 .body dd {
    font-style: normal;
    font-size: 1em; }

.custom-5 iframe {
  border: 0; }
  .custom-5 iframe.background {
    height: 100vh;
    max-height: unset;
    width: 100vw; }

.custom-5 table td {
  border: none; }

.custom-5 .table-example div {
  text-align: left; }
  .custom-5 .table-example div * {
    box-sizing: content-box; }
  .custom-5 .table-example div .header {
    background: #1c75bc;
    box-sizing: border-box;
    height: 100px;
    padding: 30px; }
    .custom-5 .table-example div .header h1 {
      margin-top: 10px; }
  .custom-5 .table-example div nav {
    background: #8ebade;
    clear: both;
    height: 40px;
    padding: 15px 20px 10px; }
  .custom-5 .table-example div .main {
    background: #8bd3d8;
    clear: both;
    overflow: hidden; }
  .custom-5 .table-example div .aside {
    float: left;
    height: 100%;
    padding: 20px;
    width: calc(25% - 40px); }
    .custom-5 .table-example div .aside nav {
      background: #8bd3d8;
      height: 100%;
      padding: 0; }
  .custom-5 .table-example div .article {
    background: #e8f6f7;
    float: left;
    padding: 20px;
    width: calc(55% - 40px); }
  .custom-5 .table-example div .footer {
    background: #16a6b1;
    clear: both;
    height: 40px;
    padding: 10px;
    text-align: center; }

.custom-5 .table-example.flexy div .header {
  display: flex;
  align-items: center;
  height: 100px;
  padding: 10px;
  justify-content: center; }

.custom-5 .table-example.flexy div nav {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 10px; }

.custom-5 .table-example.flexy div .main {
  display: flex; }

.custom-5 .table-example.flexy div .aside {
  height: 100%;
  padding: 10px;
  width: 20%; }
  .custom-5 .table-example.flexy div .aside nav {
    background: inherit;
    flex-wrap: wrap; }

.custom-5 .table-example.flexy div .article {
  padding: 10px;
  width: 55%; }

.custom-5 .table-example.flexy div .footer {
  height: 40px;
  padding: 10px;
  text-align: center; }

.custom-5 .table-example.griddy > div {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-content: center; }
  .custom-5 .table-example.griddy > div:after {
    background: #8bd3d8;
    content: '';
    grid-column: -2;
    grid-row: 3; }

.custom-5 .table-example.griddy .header {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1 / -1;
  height: 100px;
  padding: 10px; }
  .custom-5 .table-example.griddy .header h1 {
    margin: 0; }

.custom-5 .table-example.griddy nav {
  display: flex;
  align-items: center;
  grid-column: 1 / -1;
  height: 40px;
  padding: 10px; }

.custom-5 .table-example.griddy .aside {
  box-sizing: border-box;
  padding: 10px;
  background: #8bd3d8;
  float: none;
  width: auto; }
  .custom-5 .table-example.griddy .aside nav {
    background: inherit;
    flex-wrap: wrap;
    height: auto; }

.custom-5 .table-example.griddy .main {
  background: #e8f6f7;
  grid-column: span 3;
  padding: 10px; }
  .custom-5 .table-example.griddy .main .article {
    float: none;
    width: auto;
    padding: 0; }
    .custom-5 .table-example.griddy .main .article h1 {
      margin: 0; }

.custom-5 .table-example.griddy .footer {
  grid-column: 1 / -1;
  height: 40px;
  padding: 10px;
  text-align: center; }

.custom-5 .table-grid {
  font-size: 0.8em;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 1.5em 1.5em;
  grid-auto-columns: 1fr; }
  .custom-5 .table-grid img {
    width: 1em; }
  .custom-5 .table-grid.diff {
    grid-auto-columns: auto;
    font-size: 0.5em; }

.custom-6 section > img.background {
  width: 100vw; }

.custom-6 section > img.graphic {
  padding: 50px 50px 0; }

.custom-6 section.compare {
  font-size: 0.9em; }
  .custom-6 section.compare.small {
    font-size: 3vh; }

.custom-6 section p.small {
  font-size: 0.5em; }

.custom-6 .table-grid.diff {
  font-size: 0.4em; }

.custom-7 section.small pre {
  font-size: 0.7em; }

.custom-7 section.small.very pre {
  font-size: 0.9em; }

.custom-7 section .layout-example > table {
  width: 100%; }

.custom-7 section.table-example > div .header {
  height: 155px;
  padding: 20px; }
  .custom-7 section.table-example > div .header h1 {
    margin-top: revert; }

.custom-7 section.table-example > div nav,
.custom-7 section.table-example > div .footer {
  box-sizing: border-box;
  height: 78px;
  padding: 20px; }

.custom-7 section.table-example.flexy > div .header {
  height: 155px; }

.custom-7 section.table-example.flexy > div nav,
.custom-7 section.table-example.flexy > div .footer {
  height: 78px;
  padding: 20px; }

.custom-7 section.table-example.flexy > div .aside {
  float: none;
  padding: 20px;
  width: calc(25% - 40px); }
  .custom-7 section.table-example.flexy > div .aside nav {
    padding: 0; }

.custom-7 section.table-example.flexy > div .article {
  float: none;
  padding: 20px;
  width: calc(55% - 40px); }

.custom-7 section.table-example.griddy > div {
  grid-template-columns: repeat(4, 1fr); }
  .custom-7 section.table-example.griddy > div .header {
    height: 155px; }
  .custom-7 section.table-example.griddy > div nav {
    height: 78px;
    padding: 20px; }
  .custom-7 section.table-example.griddy > div .aside {
    padding: 20px; }
    .custom-7 section.table-example.griddy > div .aside nav {
      padding: 0; }
  .custom-7 section.table-example.griddy > div .main {
    grid-column: span 2;
    padding: 20px; }
  .custom-7 section.table-example.griddy > div .footer {
    height: 78px;
    padding: 20px; }

.custom-7 section.center {
  justify-content: center; }

.custom-7 section figure {
  display: grid;
  grid-template-rows: 1fr 10vh;
  height: 90vh;
  margin-top: 3vh;
  justify-content: center;
  justify-items: center; }
  .custom-7 section figure img {
    height: 100%;
    object-fit: contain; }
    .custom-7 section figure img.graphic {
      align-self: center;
      max-height: 90%; }

.custom-7 section figcaption {
  padding-top: 1vh;
  font-size: 0.3em;
  text-align: center; }

.custom-7 section.blank figcaption {
  color: #fff; }

.custom-7 section.medium {
  font-size: 7vh; }

.custom-7 section.smallish li {
  font-size: 0.8em; }

.custom-8 .section figure {
  display: grid;
  grid-template-rows: 1fr 10vh;
  height: 90vh;
  margin-top: 3vh;
  justify-content: center;
  justify-items: center; }
  .custom-8 .section figure img {
    height: 100%;
    object-fit: contain; }
    .custom-8 .section figure img.graphic {
      align-self: center;
      max-height: 90%; }

.custom-8 .section figcaption {
  padding-top: 1vh;
  font-size: 0.3em;
  text-align: center; }

.custom-8 .section.blank figcaption {
  color: #fff; }

/* a11y-dark theme */
/* Based on the Tomorrow Night Eighties theme: https://github.com/isagalaev/highlight.js/blob/master/src/styles/tomorrow-night-eighties.css */
/* @author: ericwbailey */
/* Comment */
.hljs-comment,
.hljs-quote {
  color: #d4d0ab; }

/* Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #ffa07a; }

/* Orange */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: #f5ab35; }

/* Yellow */
.hljs-attribute {
  color: #ffd700; }

/* Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #abe338; }

/* Blue */
.hljs-title,
.hljs-section {
  color: #00e0e0; }

/* Purple */
.hljs-keyword,
.hljs-selector-tag {
  color: #dcc6e0; }

.hljs {
  display: block;
  overflow-x: auto;
  color: #f8f8f2;
  padding: 0.5em; }

.hljs-emphasis {
  font-style: italic; }

.hljs-strong {
  font-weight: bold; }

@media screen and (-ms-high-contrast: active) {
  .hljs-addition,
  .hljs-attribute,
  .hljs-built_in,
  .hljs-builtin-name,
  .hljs-bullet,
  .hljs-comment,
  .hljs-link,
  .hljs-literal,
  .hljs-meta,
  .hljs-number,
  .hljs-params,
  .hljs-string,
  .hljs-symbol,
  .hljs-type,
  .hljs-quote {
    color: highlight; }
  .hljs-keyword,
  .hljs-selector-tag {
    font-weight: bold; } }
