.question {
	align-items: stretch;
	justify-items: stretch;
	grid-gap: 2vw;
	grid-template-rows: 1fr 2fr;

	padding: 5vw;
	text-align: center;

	&.long {
		ul {
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: 20px;
			grid-auto-rows: 1fr;

			pre {
				padding: 0;
			}
		}
	}

	ul {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 20px;
		grid-auto-rows: 1fr;
		margin: 0;
		padding: 20px;

		&.code {
			li {
				background: $grey_dark;
				padding: 0;
			}
		}
	}

	p {
		font-size: 0.5em;
		margin: 0;
	}

	li {
		display: grid;
		align-items: center;
		border: 3px solid $grey_dark;
		font-size: 80px;
		list-style-type: none;
		padding: 30px;
		position: relative;
		margin: 0;
		text-align: center;

		&:before {
			color: #fff;
			border: 3px solid #fff;
			border-radius: 50%;
			font-size: 30px;
			height: 40px;
			position: absolute;
			top: 5px;
			left: 5px;
			width: 40px;
		}

		&:nth-child(1) {
			&:before {
				content: 'A';
			}
		}

		&:nth-child(2) {
			&:before {
				content: 'B';
			}
		}

		&:nth-child(3) {
			&:before {
				content: 'C';
			}
		}

		&:nth-child(4) {
			&:before {
				content: 'D';
			}
		}

		&.correct {
			border: 10px solid #21b621;
			padding: 23px;
		}

		img {
			height: auto;
			max-height: 25vh;
			margin: 0 auto;
			width: auto;
			max-width: 30vw;
		}
	}

	pre {
		align-self: center;
		justify-self: center;
		display: block;
		padding: 20px;
	}

	button {
		justify-self: center;
	}
}