body {
	height: 100vh;
	max-height: 100vh;
	display: grid;
	grid-template-rows: 1fr;
}

.reveal {
	padding: $header_height 0 $footer_height;
	
	& > .slides {
		& > section {
			height: 100%;
			align-items: center;
			justify-content: center;
			position: static;
			width: 100%;
			max-height: 100%;

			&.stack.stack, &.present.present {
				padding-bottom: $footer_height;
				position: absolute;
			}

			& > section {
				height: 100%;
				align-items: center;
				justify-content: center;
				position: static;
				width: 100%;
				max-height: 100%;

				&.present.present {
					padding-bottom: $footer_height;
					
				}
			}

			&:has(> header) {
				& > section {
					padding-top: $header_height;
				}
			}
		}

		& section {
			&[data-align="left"] {
				text-align: left;
			}

			&[data-align="right"] {
				text-align: right;
			}

			&[data-size="small"] {
				& * {
					font-size: 4vh;
				}
			}

			&[data-size="medium"] {
				& * {
					font-size: 6vh;
				}
			}

			& ul {
				text-align: left;
			}
		}
	}
}