.reveal {
	& .fragment {
		&.fade-in-then-semi-out.visible {
			opacity: 0.3;

			&.current-fragment {
				opacity: 1;
			}
		}

		&.disappear {
			visibility: visible;
			opacity: 1;
			display: inline-block;
			transition-property: max-width;
			transition-duration: 0.5s;
			transition-timing-function: ease-in-out;
			transition-delay: 0;
			max-width: 100vw;

			&.current-fragment {
				opacity: 0;
				max-width: 0;
			}
		}
	}
}

/* body {
	&[data-speaker-layout="tall"] {
		& #current-slide, & #upcoming-slide {
			height: 45vh;
		}
	}
}

body[data-speaker-layout="tall"] #current-slide {
	visibility: hidden !important;
} */