@import './variables.scss';

//Fonts
@font-face {
	font-family: 'Source Code Pro';
	font-style: normal;
	font-weight: 400;
	src: url('../../dist/theme/fonts/source-code-pro/SourceCodePro-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Quicksand';
	src: url('../../dist/theme/fonts/quicksand/Quicksand-VariableFont_wght.ttf') format('truetype');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: url('../../dist/theme/fonts/lato/Lato-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 400;
	src: url('../../dist/theme/fonts/lato/Lato-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: url('../../dist/theme/fonts/lato/Lato-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 700;
	src: url('../../dist/theme/fonts/lato/Lato-BoldItalic.ttf') format('truetype');
}

* {
	box-sizing: border-box;
}

@import './typo.scss';