body {
	line-height: 1.4;
	margin: 0;
	font-family: var(--r-main-font);
	font-size: var(--r-main-font-size);
	font-weight: normal;
	color: var(--r-main-color);
}

h1,
h2,
h3 {
	color: inherit;
}

h1 {
	text-align: center;
}

a,
span.link {
	color: inherit;
	font-family: inherit;
	text-decoration: none;
}

ul {
	li {
		text-align: left;
	}
}

dt {
	font-weight: bold;
}

i {
	color: inherit;
}

blockquote {
	margin: 20px;
	padding-left: 20px;
}