@use "sass:math";

@import "../template/mixins";
@import "../template/settings";
@import '../../custom/variables.scss';


// Override theme settings (see ../template/settings.scss)
$mainColor: $grey_dark;
$headingColor: $mainColor;
$backgroundColor: $background;
$linkColor: $mainColor;
$linkColorHover: $mainColor;
$selectionBackgroundColor: $cyan;
$selectionColor: $grey_dark;

$mainFont: $font_regular;
$headingFont: $font_headings;
$codeFont: $font_code;

$mainFontSize: 10vh;
$headingLineHeight: 1.4;
$heading1Size: 1.5em;
$heading2Size: 1.6em;
$heading3Size: 1.4em;
$heading4Size: 1.3em;

@include dark-bg-text-color(#fff);
@import "../template/theme";
@import '../../custom/global.scss';


:root {
	--header: #{$header};
	--footer: #{$footer};
}

body {
	@import '../../custom/backgrounds.scss';

	@include backgrounds;
}

.reveal {
	--slide-scale: 1;

	pre code {
		max-height: unset;
	}

	.slides {
		text-align: center;
	}
}



button,
.btn {
	background: $grey_light;
	border: 1.5px solid $grey_dark;
	box-shadow: 0px 6px 0px $grey, 0px 3px 15px rgba(0, 0, 0, 0.4), inset 0px 1px 0px rgba(255, 255, 255, 0.3),
		inset 0px 0px 3px rgba(255, 255, 255, 0.5);
	border-radius: 30px;
	display: inline-block;
	font-size: 80px;
	margin: 0 auto;
	padding: 10px 20px;
	max-width: 1000px;
}

.title {
	small {
		font-size: 0.7em;
	}
}

p {
	font-size: 1em;
	line-height: 1.5;
}

ul {
	font-size: 0.9em;
	list-style-type: disc;
	padding-left: 1em;
	max-width: 90vw;

	li {
		font-size: 1em;
		list-style-type: disc;

		&.yes {
			padding-left: 10px;

			&::marker {
				content: '✔';
				color: $green;
				font-size: 0.8em;
			}
		}

		&.no {
			padding-left: 10px;

			&::marker {
				content: '✗';
				color: $red;
				font-size: 0.8em;
			}
		}
	}
}

dd {
	font-size: 0.8em;
	font-style: italic;
}

blockquote {
	border-left: 10px solid $grey_light;
	font-weight: bold;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	quotes: '\201C' '\201D' '\2018' '\2019';

	&:before {
		color: #ccc;
		content: open-quote;
		font-size: 4em;
		line-height: 0.1em;
		margin-right: 0.25em;
		vertical-align: -0.4em;
	}
}

mark {
	background-color: $cyan;
}

table {
	border-collapse: collapse;
	text-align: left;

	td,
	th {
		border: 1px solid $grey_dark;
		padding: 20px;
	}

	th {
		font-size: 1.3em;
	}
}

pre {
	font-family: $font_code;
	font-size: 0.5em;
	margin: 0;
	padding: 5vw;
	text-align: left;
	white-space: normal;
}

kbd {
	font-family: $font_code;
}

small {
	font-size: 0.7em;
}

form {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	text-align: left;
	max-width: 1000px;

	label {
		font-size: 0.9em;
	}
}

legend {
	font-size: 1em;
	margin: 10px 0;
}

input,
button {
	font-size: 1em;
	line-height: 1.5em;
	margin: 20px 0;
}

header {
	height: var(--header);
	padding: 0;
	top: 0;

	&:not(:empty) {
		--header: 9vh;
		padding: 10px 20px;
	}
}

header:not(:empty),
footer {
	color: $grey;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	font-size: 5vh;
	opacity: 0.7;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

.uppercase {
	text-transform: uppercase;

	mark {
		background: rgba($cyan, 0.3);
	}
}

.title {
	line-height: 1.2;
	font-size: 1.5em;

	mark {
		background: rgba($cyan, 0.3);
	}
}

footer {
	height: var(--footer);
	padding: 10px;
	bottom: 0;
}

.slides {
	text-align: center;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	&.border {
		section {
			border-left: 20px solid #00acbb;

			&.blank {
				border: none;
			}
		}
	}

	&.quokka {
		background-image: url('/img/quokka_transparent.png');
		background-repeat: no-repeat;
		background-position: left bottom;
		background-size: auto 25%;
	}

	@import '../../custom/slides/index.scss';
}