---
const links: string[] = Astro.props?.footer || ['@amys_kapers@hachyderm.io', '@amys_kapers']
---

<style>
	footer {
		display: flex;
		justify-content: space-between;
		padding: 0 2vw;
		position: absolute;
		bottom: 0;
		height: $footer_height;
		width: 100vw;
		font-size: 0.5em;
		opacity: 0.6;
		font-weight: 600;
		z-index: 10;
	}
</style>

<footer>
	{links.map(link => (
		<span>{link}</span>
	))}
</footer>