---
import Header from "@parts/header";
import Footer from "@parts/footer";

import 'reveal.js/dist/reveal.css'
import "@styles/main.css";
import Theme from '@parts/theme';

const { title, config, footer, theme } = Astro.props.frontmatter

const header = await Astro.slots.render('header')
---

<script>
	import Reveal from 'reveal.js'
	import Markdown from 'reveal.js/plugin/markdown/markdown.esm.js'
	import Notes from 'reveal.js/plugin/notes/notes.esm.js'
	import Code from 'reveal.js/plugin/highlight/highlight.esm.js'
	import revealDefaults from '../../config/revealjs.config.cjs'

	const data = document?.querySelector('body')?.getAttribute('data-config')
	const overrideConfig = data ? JSON.parse(data ) : {}

	const deck = new Reveal({
		...revealDefaults,
		plugins: [
			Markdown,
			Notes,
			Code
		],
		...overrideConfig
	})

	deck.initialize();

	deck.on('slidechanged', function (event: any) {
		// event.previousSlide, event.currentSlide, event.indexh, event.indexv
		if(!event?.currentSlide?.attributes) return

		if (event.currentSlide.attributes['data-full']) {
			const container = event?.currentSlide.parentElement
			container.style.width = '100vw';
			container.style.height = '100vh';
			container.style.transform = 'translate(-50%, -50%) scale(1)'
		}
	})
</script>


<!DOCTYPE html>
<html lang="en-AU">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="x-ua-compatible" content="ie=edge" />
		<meta
			name="viewport"
			content="width=device-width,initial-scale=1,shrink-to-fit=no"
		/>
		<title>{title}</title>
	</head>

	<Theme data-config={JSON.stringify(config)} theme={theme}>
			<Header>{header && <span><slot name="header" /></span>}</Header>
	
			<main class="reveal">
				<div class="slides">
					<slot />
				</div>
			</main>
			
			<Footer {footer} />
	</Theme>
</html>
