header {
  background: #1c75bc;
  height: 100px;
  padding: 10px;
}

header h1 {
  margin-top: 30px;
}

nav {
  background: #8ebade;
  clear: both;
  height: 25px;
  padding: 15px 10px 10px;
}

main {
  background: #8bd3d8;
  clear: both;
  overflow: hidden;
}

aside {
  float: left;
  height: 100%;
  padding: 10px;
  width: 20%;
}

aside nav {
  background: #8bd3d8;
  height: 100%;
  padding: 0;
}

article {
  background: #e8f6f7;
  float: left;
  padding: 10px;
  width: 55%;
}

footer {
  background: #16a6b1;
  clear: both;
  height: 20px;
  padding: 10px;
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  font-family: Lato;
  margin: 0;
}