@mixin backgrounds {
	&.grid {
		&:before {
			background-size: 40px 40px;
			background-image: linear-gradient(to right, $grey_light 1px, transparent 1px),
				linear-gradient(to bottom, $grey_light 1px, transparent 1px);
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
		}
	}
}

@mixin full_background {	
	position: absolute;
	width: 100vw;
	height: 100vh;
	left: 0;
	/* top: calc(-1 * $header_height); */
	display: block;
	/* bottom: calc(-1 * $footer_height); */
	bottom: 0;
	z-index: -5;
}
